[DXR]
enabled_plugins     = pygmentize clang
es_index            = dxr_test_{format}_{tree}_{unique}
es_alias            = dxr_test_{format}_{tree}
es_catalog_index    = dxr_test_catalog

[code]
source_folder       = code
build_command       = make clean; make -j $jobs
description         = An awesome tree

[code2]
source_folder       = code2
build_command       = make clean; make -j $jobs
description         = A tree that's twice as awesome
