[DXR]
enabled_plugins     = pygmentize xpidl
disabled_plugins    = clang
es_index            = dxr_{format}_{tree}_{unique}
es_alias            = dxr_{format}_{tree}

[code]
source_folder=code
object_folder=code/obj
build_command=cd $source_folder && make
clean_command=cd .. && make clean

  [[xpidl]]
  header_bucket=code/obj
