.aset{
	width:          5ex;
}

.ln{
  width:          5ex;
  display:        inline-block;
  text-align:     right;
}

code.line{
  white-space:    pre;
}

.aset{
  display:        inline-block;
  vertical-align: middle;
  height: 16px;
}

.aset div.note{
  width:  16px;
  height: 16px;
}

#panel{
  display:      inline-block;
  float:        right;
}

#panel .section h1{
  font-size:    1.2em;
}

#content{
  width;        90ex;
}

#search-box{
  border-bottom:       1px solid black;
}


#panel .section a{
  display:      block;
  padding-left: 20px;
  heigth:       20px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

.folder-content a{
  padding-left:         20px;
  background-repeat:    no-repeat;
  background-position:  2px 2px;
}