*.pyc
*.o
*.so
/dxr/build
/dxr/static
/dxr/static_manifest
/dxr/static_unhashed/js/templates.js
dxr-logs-*
dxr-temp-*
/tests/test_non_ascii_paths/code/c
**/tests/*/code/code
**/tests/*/code2/code
/dxr/plugins/rust/tests/test_cargo/code/Cargo.lock
/dxr/plugins/rust/tests/test_smoke/code/libkrate2.rlib
/.noseids
/build
/dist
/*.egg-info
/tooling/node/node_modules/*
!tooling/node/node_modules/.bin/lockdown
!tooling/node/node_modules/.bin/lockdown-relock
!tooling/node/node_modules/lockdown
/dxr/plugins/js/.npm_installed
/dxr/plugins/js/analyze_js/node_modules/*
!/dxr/plugins/js/analyze_js/node_modules/.bin/lockdown
!/dxr/plugins/js/analyze_js/node_modules/.bin/lockdown-relock
!/dxr/plugins/js/analyze_js/node_modules/lockdown
/docs/build
.dxr_installed
.npm_installed
.peep_installed
/venv
/*.egg
