*.pyc
*.o
*.so
/dxr/static/js/templates.js
dxr-logs-*
dxr-temp-*
**/tests/*/code/code
**/tests/*/code2/code
/vagrantconfig_local.yaml
/.vagrant
/.noseids
/build
/dist
/*.egg-info
/node_modules/.bin/grunt
/node_modules/.bin/nunjucks-precompile
/node_modules/grunt*
/node_modules/nunjucks
/docs/build
