[DXR]
xrefscripts=/home/dave/dxr/xref-scripts
templates=/var/www/html/dxr/templates
glimpse=glimpse
glimpseindex=/home/dave/dxr/glimpse/glimpse-4.18.6/bin/glimpseindex

[Web]
virtroot=/dxr

[mozilla-central]
sourcedir=/home/dave/dxr/mozilla-central
objdir=/home/dave/dxr/objdir-opt
mozconfig=/home/dave/dxr/xref-scripts/dxr-mozconfig
