[DXR]
xrefscripts=/var/www/html/dxr/xref-scripts
templates=/var/www/html/dxr/templates

[Web]
wwwdir=/var/www/html/dxr
virtroot=/dxr
hosturl=http://localhost

#[comm-central]
#sourcedir=/var/www/html/dxr/mozilla-trees/comm-central
#objdir=/var/www/html/dxr/mozilla-trees/objdir-cc-opt
#mozconfig=/var/www/html/dxr/xref-scripts/dxr-cc-mozconfig

[mozilla-central]
sourcedir=/var/www/html/dxr/mozilla-trees/mozilla-central
objdir=/var/www/html/dxr/mozilla-trees/objdir-mc-opt
