[DXR]
templates=/var/www/html/dxr/templates
dxrroot=/var/www/html/dxr

[Web]
wwwdir=/var/www/html/dxr
virtroot=/dxr
hosturl=http://localhost

#[comm-central]
#sourcedir=/var/www/html/dxr/mozilla-trees/comm-central
#objdir=/var/www/html/dxr/mozilla-trees/objdir-cc-opt
#mozconfig=/var/www/html/dxr/xref-scripts/dxr-cc-mozconfig

[mozilla-central]
sourcedir=/var/www/html/dxr/mozilla-trees/mozilla-central
objdir=/var/www/html/dxr/mozilla-trees/objdir-mc-opt
revision=hg id -i -R /var/www/html/dxr/mozilla-trees/mozilla-central/ | tr -d '+'
pullcommand=hg pull && hg update
buildcommand=make -f client.mk build MOZ_OBJDIR=../objdir-mc-opt MOZ_MAKE_FLAGS=-s

