[DXR]
templates=/opt/source/dxr/templates
dxrroot=/opt/source/dxr

[Web]
wwwdir=/srv/dxr/html
virtroot=/
hosturl=http://www.example.com

[mozilla-central]
sourcedir = /opt/source/mozilla-central
objdir = /opt/build/mozilla-central
revision=hg id -i -R /opt/source/mozilla-central/ | tr -d '+'
pullcommand=hg pull && hg update
buildcommand=make -f client.mk build
