<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  <link href="{{wwwroot}}/static/dxr-styles.css" rel="stylesheet" type="text/css"></link>
  <style type="text/css">@import "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/tundra/tundra.css";</style>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript"
          djConfig="parseOnLoad:true, isDebug:false">
  </script>
  <script>
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.layout.BorderContainer");
  </script>
  <script type="text/javascript" src="/static/js/dxr.js"></script>
  <title>{{name}}/</title>
</head>
<body class="tundra" style="overflow: hidden;" onload="initLeftPane('toggleLeftSidebarImg', 'sidebar', false);">
<div id="bc" dojoType="dijit.layout.BorderContainer" design="headline" gutters="false" style="width: 100%; height: 100%">
  <div id="header" dojoType="dijit.layout.ContentPane" region="top">
    <div id="logo"><a href="/"><img src="{{wwwroot}}/static/images/powered-by-mozilla-small.png" border="0"></a></div>
    <div id="search">
      <form method="get" id="searchForm" action="{{wwwroot}}/search">
        <input name="q" type="text" size="31" maxlength="2048" title="Search">
        <input type="submit" value="Search">
        <input type="hidden" name="tree" value="VerifyPN">
      </form>
    </div>
    <div id="sidebarActions">
    </div>
    <div id="toggleLeftSidebar">
      <img id="toggleLeftSidebarImg" src="{{wwwroot}}/static/images/icons/bullet_toggle_minus.png" onclick="toggleLeftPaneVisibility()" />
    </div>
  </div>
<div id="maincontent" dojoType="dijit.layout.ContentPane" region="center">
<table id="index-list">
  <tr><th></th><th>Name</th><th>Last modified</th><th>Size</th></tr>
  <tr><td><img src="{{wwwroot}}/static/images/icons/folder.png"></td><td><a href="..">Parent directory</a></td><td></td><td>-</td></tr>
  {% for icon, name, modified in folders %}
  <tr>
    <td><img src="{{wwwroot}}/static/images/icons/{{icon}}.png"></td>
    <td><a href="{{name}}">{{name}}/</a></td>
    <td>{{modified.strftime("%Y-%b-%d %H:%m")}}</td>
    <td>-</td>
  </tr>
  {% endfor %}
  {% for icon, name, modified, size in files %}
  <tr>
    <td><img src="{{wwwroot}}/static/images/icons/{{icon}}.png"></td>
    <td><a href="{{name}}">{{name}}</a></td><td>{{modified.strftime("%Y-%b-%d %H:%m")}}</td>
    <td>{{size}}</td>
  </tr>
  {% endfor %}
</table>
</div>
</body>
</html>

