{% from "partial/data_no_results.html" import data_no_results %}

{% macro breadcrumbs(paths_and_names) %}
  {% call data_no_results() %}
    <div class="breadcrumbs">
      {%- for path, name in paths_and_names -%}
        {%- if not loop.first or loop.last and loop.length != 1 -%}
          <span class="path-separator">/</span><a href="{{ wwwroot }}{{ path }}">{{ name }}</a>
        {%- else -%}
          <a href="{{ wwwroot }}{{ path }}">{{ name }}</a>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {% endcall %}
{% endmacro %}
