[DXR]
enabled_plugins     = *
es_index            = dxr_test_{format}_{tree}_{unique}
es_alias            = dxr_test_{format}_{tree}
es_catalog_index    = dxr_test_catalog

[code]
source_folder       = code
build_command       = make clean all

  [[xpidl]]
    header_path = .
    include_folders = .
  [[python]]
    python_path = .
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla
