[DXR]
enabled_plugins       = pygmentize
es_index              = dxr_test_{format}_{tree}_{unique}
es_alias              = dxr_test_{format}_{tree}
es_catalog_index      = dxr_test_catalog
max_thumbnail_size    = 4000

[code]
source_folder         = code
build_command         =
clean_command         =
