html, body { height: 100%;
	     width: 100%;
	     margin: 0;
	     padding: 0;
	     font-size: 13px !important;
       /* Fix the line-height, since C++ lacks good measurements for this */
       line-height: 1.25 !important;
}

/* Formatting for the main code block. */
body pre { padding:0; margin: 0 }
pre > div#linenumbers { position: absolute; left: 0; right: 0; }
pre > div#code { position: relative; left: 5.5em; }
.ln { display:inline-block;
      text-align: right;
      width: 3em;
      color: #555;
      border-right: 1px dotted #ccc;
      margin-right: 1em;
      margin-left: 16px;
      padding-right: 3px;
      height: 1.25em;
}
pre > div#linenumbers > div:hover {
  background-color: #eee;
}
.lnw { background-image: url("images/icons/error.png");
       background-repeat: no-repeat;
}
.k { color: #0000FF; }
.c { color: #008000; }
.m { color: black; }
.t { color: black; }
.s { color: black; }
.str { color: #A31515; }
.s-not-found { color: black; }
.s-fuzzy { color: black; }
.p { color: #0000FF; }
.mem { color: black; }
div:target { background-color: #ffffcc; }
a { cursor: pointer; color: inherit; text-decoration: none; }
a:hover { cursor: pointer; text-decoration: underline; }

.sidebarlink { line-height: 18px; }
.sidebarimage { border: 0; width: 16px; height: 16px; margin-right: 5px; }
.sidebar-highlighted { -webkit-border-radius: 4px;
		       -moz-border-radius: 4px;
		       border-radius: 4px;
		       color: white;
		       background-color: black;
		       padding: 2px;
}
#sidebar {font-family: 'Helvetica Neue', Arial, sans-serif;
	  width:20%;
	  border:solid 1px #cccccc;
	  background-color:#eeeeee;
	 /* white-space:nowrap; */
}
#sidebarActions {
  float: right;
  padding: .5em;
}
#sidebarActions a {
  font-weight: bold;
  color: #ee2d28;
}
#source-outline { border-bottom: solid 1px #cccccc; }
#header { width:100%; height:70px; overflow:hidden; }
#logo { position:absolute; top:1.8ex; left:10px; }
#search { position:absolute; top:40px; right:10px; left:215px; font-size:82%; }
#maincontent { border:solid 1px #cccccc; }
#signature { background-color: #eeffff;
	     border: 1px dotted #66cccc;
	     height:20px;
	     opacity: 0;
	     position: absolute;
	     top: 0;
	     left: 0;
	     width: 100%;
	     padding-left: 10px;
	     padding-top: 5px;
	     font-family: monospace;
	     font-size: 13px;
	     overflow: hidden; /* font-family: Arial,sans-serif; */
}
.info {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 5px;
	width: 90%;
	height: 250px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 0.92em;
	white-space:normal; 
	background-color: #eeffff; border: 1px solid #66cccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	overflow-y: scroll;
  opacity: 0.7;
}
.info:hover { opacity: 1.0; }

.padding { padding: 5px; white-space: nowrap; }

.icon-type { background-image: url("images/icons/bricks.png"); background-repeat: no-repeat;}
.icon-base { background-image: url("images/icons/brick_link.png"); background-repeat: no-repeat; }
.icon-member { background-image: url("images/icons/brick.png"); background-repeat: no-repeat; }
.icon-decl { background-image: url("images/icons/page_white_code.png"); background-repeat: no-repeat; }
.icon-def { background-image: url("images/icons/page_white_wrench.png"); background-repeat: no-repeat; }
.icon-user { background-image: url("images/icons/brick_go.png"); background-repeat: no-repeat; }

div[data-gcov-hits] {
  background-color: #CAD7FE;
}
div[data-gcov-hits="0"] {
  background-color: #FF6230;
}

table#index-list a {
  color: #00E;
}

table#index-list td {
  padding: 0 0.3em;
}

table#index-list tr:nth-child(even) {
  background-color: #f6f6f0;
}

#hintBox {
  display: none;
  position: absolute;
  top: 70px;
  left: 20px;
  right: 20px;
  padding: 10px;
  background-color: #FFE066;
  border: 1px solid #000;
  border-radius: 6px;
  z-index: 99;
}

#hintBox a {
  color: #00b;
}

#toggleLeftSidebar {
  position: absolute;
  bottom: -6px;
  left: 0px;
}

#infoBox {
  position: absolute;
/*  position: fixed; */
  overflow: auto;
  width: 80%;
  height: auto;
  max-height: 300px;
  z-index: 99;
  border-radius: 6px;
  border: 1px solid #6cc;
  background-color: #eff;
  padding: 0;
}

#infoBox #infoHeader {
  padding: 2px;
  background-color: #dee;
}

#infoBox .listHeader:hover {
  background-color: #d9d7e0;
}

#infoBox > ul {
  padding: 0;
  margin: 0;
}

#infoBox ul {
  list-style-type: none;
}

#infoBox ul li {
  padding: 0;
  margin: 0;
}

#infoBox ul li:hover {
  background-color: #dee;
}

#infoBox ul li p {
  padding-left: 20px;
}
