body{background-color:white;color:black;font-family:Arial,sans-serif}
#results{position:absolute;top:8.5ex;left:10px;right:5px;border-top: 2px solid #231f20}
img{border:0}
#logo{position:absolute;top:1.8ex;left:10px;right:10px}
#search{position:absolute;top:43px;right:10px;left:215px;font-size:82%;}
#sidebar {
  position: absolute;
  top: 1em;
  left: 80%;
  width: 20%;
}
#sidebar .bubble{
  background: #fff;
  font-size: 80%;
  border: 1px solid #231f20;
  margin-top: 0.5em;
  padding: 0px
}
#sidebar .bubble .title {
  float: left;
  width: 100%;
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #231f20;
  color: #fff;
  margin: 0;
  padding: 5px
}
#sidebar .bubble ul{padding:0;margin: 30px 10px 10px 7px;list-style-type:none}
#sidebar .bubble li{margin:0;padding:0}
#content {
  position: absolute;
  left: 0px;
  right: 20%;
  right: -moz-calc(20% + 10px);
  right: calc(20% + 10px);
}
#results .searchfile {text-decoration:none; font-size:90%; margin: .7em 0em .2em 0em; text-decoration:none}
#results .typeInfo a:link {color:#117711}
#results ul.searchresults { margin-top: .2em; font-family: monospace; border: 1px solid silver; background-color:#F5F5F5; margin: .1em 0 1em 0; padding: .2em .5em}
#results li.searchresult { list-style-type: none; margin: .2em 0; padding-left: 1em }
h3 { margin-bottom: 5px }
