[DXR]
xrefscripts=/home/dave/dxr/xref-scripts
wwwsrcfiles=/var/www/html/dxr
glimpse=glimpse
glimpseindex=/home/dave/dxr/glimpse/glimpse-4.18.6/bin/glimpseindex

[Web]
wwwdir=/var/www/html/dxr
virtroot=/dxr

[mozilla-central]
sourcedir=/home/dave/dxr/mozilla-central
objdir=/home/dave/dxr/objdir-opt
mozconfig=/home/dave/dxr/xref-scripts/dxr-mozconfig
