{% macro promoted_list(query, promoted, promoted_count, www_root, tree) -%}
  {% for result in promoted %}
    <div class="result-head">
      <div class="left-column">
        <div class="icon-container {{ result.iconClass }}"></div>
      </div>
      <div>
        {{ result.pathLine | safe }}
      </div>
    </div>
  {% endfor %}
{%- endmacro %}

{%- macro promoted_header(promoted_query, promoted_count, promoted_count_formatted, top_of_tree, tree) -%}
  <p class="promoted-see-more">
    {% if promoted_count == 1 %}
      Found 1 path result:
    {% elif promoted_count <= 5 %}
      Showing all of <a href="{{ promoted_query }}">{{ promoted_count_formatted }} path results</a>:
    {% else %}
      Showing first few of <a href="{{ promoted_query }}">{{ promoted_count_formatted }} path results</a>:
    {% endif %}
  </p>
{%- endmacro -%}

{# When not being included as a macro, render the code above. #}
{{ promoted_list(query, promoted, promoted_count, www_root, tree) }}
