{% macro promoted_list(query, promoted, promoted_count, www_root, tree) -%}
  {% for result in promoted %}
    <div class="promoted-row {% if result.is_binary %} binary_row {% endif %}">
      <div class="promoted-icon {{ result.iconClass }}"></div>
      <div class="promoted-result">
        <span class="promoted-path">{{ result.pathLine | safe }}</span>
      </div>
    </div>
  {% endfor %}
{%- endmacro %}

{%- macro promoted_header(promoted_query, promoted_count, promoted_count_formatted, top_of_tree, tree) -%}
  <p class="promoted-see-more">
    {% if promoted_count == 0 %}
      Found 0 path results
    {% elif promoted_count == 1 %}
      Found 1 path result:
    {% elif promoted_count <= 5 %}
      Showing all of <a href="{{ promoted_query }}">{{ promoted_count_formatted }} path results</a>:
    {% else %}
      Showing first few of <a href="{{ promoted_query }}">{{ promoted_count_formatted }} path results</a>:
    {% endif %}
  </p>
{%- endmacro -%}

{# When not being included as a macro, render the code above. #}
{{ promoted_list(query, promoted, promoted_count, www_root, tree) }}
