{% from "result_lines.html" import result_lines -%}

{% macro promoted_list(query, promoted, promoted_count, www_root, tree) -%}
  {% for result in promoted %}
    <div class="promoted-row {% if result.is_binary %} binary_row {% endif %}">
      <div class="promoted-icon {{ result.iconClass }}"></div>
      <div class="promoted-result">
        <span class="promoted-path">{{ result.pathLine | safe }}</span>
        {% for entry in result.lines %}
          <div class="promoted-line">
            <span class="left-column">
             <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
               {{ entry.line_number }}
             </a>
           </span>
           <span class="promoted-text">
             <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
               <code aria-labelledby="{{ entry.line_number }}">{{ entry.line|safe }}</code>
             </a>
           </span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{%- endmacro %}

{%- macro promoted_header(promoted_query, promoted_count, promoted_count_formatted, top_of_tree, tree, num_trees) -%}
  <p class="promoted-see-more {% if num_trees > 1 %} with-room-for-switch {% endif %}">
    {% if promoted_count == 0 %}
      Found 0 path results
    {% elif promoted_count == 1 %}
      Found 1 path result:
    {% else %}
      Showing first few of <a href="{{ promoted_query }}">{{ promoted_count_formatted }} path results</a>:
    {% endif %}
  </p>
{%- endmacro -%}

{# When not being included as a macro, render the code above. #}
{{ promoted_list(query, promoted, promoted_count, www_root, tree) }}
