/** Syntax Regions
 * These regions are defined in various plugins, but you can format them here.
 * Ideally, we should make sure that they are all listed here.
 */

/* Keywords */
code .k {
    color: #0000ff;
}
/* Preprocessor */
code .p {
    color: #0000ff;
}
/* Comment */
code .c {
    color: #008000;
}
/* String */
code .str {
    color: #a31515;
}
/* Types */
code .t {
    color: #000000;
}
code a {
    color: #000000;
    text-decoration: none;
}
code a:hover {
    text-decoration: underline;
}
