/**
 * normalize - Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}
/**
 * normalize - Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}
/**
 * normalize - Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff url(/static/images/mozilla-dinosaur-head-small.png) 50% -150% no-repeat;
    color: #333;
    margin: 0;
    font: 16px/1.5 Arial, Helvetica, sans-serif;
}
h4 {
    margin: 0 0 .5rem 0;
}
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
caption {
    font-size: 12px;
    text-align: left;
}
label {
    font-size: 14px;
}
fieldset {
    position: relative;
    margin: 0;
    padding: .5rem .8rem;
    border: 0;
}
input,
select {
    padding: .5em;
}
option {
    font-size: 12px;
}
/* Kudos to David Walsh */
input[placeholder],
::-moz-placeholder, /* firefox 19+ */
input:-moz-placeholder {
    text-overflow: ellipsis;
}
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
input[type="submit"] {
    float: right;
    margin: 0 17% 0 0;
    width: 6rem;
    height: 2rem;
    font-size: .8rem
}
table {
    background-color: #f6f4ec;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    overflow: auto;
}
table thead {
    background-color: #333;
    color: #fff;
    padding: .5em;
}
table th {
    padding: .5em;
    text-align: left;
}
table tr {
    border-bottom: 1px solid #fff;
}
table tbody tr:hover {
    background-color: #E4E4D7;
}
table td {
    padding: .5em;
}
td.code {
    padding: 0 0 0 .5em;
}
.logo a:focus {
    background-color: transparent;
}
.result_snippet th:first-child {
    border-right: 1px solid #fff;
    text-align: center;
}
table.result_snippet tr {
    border: 0;
}
.result_snippet td:first-child {
    background-color: #e0e0e0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #edefef;
    width: 4%;
    text-align: center;
}
.result_snippet td:first-child a:hover {
    background-color: #e0e0e0;
}
.result_snippet a {
    display: inline-block;
    width: 100%;
}
.checkbox_case {
    display: inline-block;
    margin: .5em;
}
.file tr {
    line-height: 1.2;
}
.file th {
    line-height: 1.5;
}
.file pre {
    white-space: pre-wrap;
}
.top {
    margin-right: .5em;
    font-size: 11px;
    text-align: right;
}
.search-box {
    background-color: #f6f4ec;
    color: #333;
    border-bottom: 10px solid #333;
}
.query {
    width: 95%;
}
.header_nav_link {
    position: absolute;
    right: 0;
    margin: 0 4% 0 0;
    padding: 0.4rem 0 0;
    font-size: .8rem;
    text-align: right;
}
.basic_search {
    position: absolute;
    top: 80%;
    right: 25.2%;
    padding: .2rem 0 0;
}
.simple_form_group {
    display: inline-block;
    margin-right: .3rem;
    padding: .7rem .3rem 0 .7rem;
}
.form_group {
    display: inline-block;
    width: 32.1%;
    min-height: 185px;
    vertical-align: top;
    transition: height 1s;
}
.wide {
    width: 44.4%;
}
/* advanced search page */
.advanced {
    background-color: #f6f4ec;
    background-image: none;
}
.advanced .search-box {
    border-bottom: 0;
}
.advanced form {
    margin: 0;
    width: 100%;
}
.advanced .simple_form_group {
    padding: 0;
}
.advanced_search_heading {
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
}
.additional_fields_container legend {
    margin-bottom: 1%;
}
.arrow_icon {
    display: inline-block;
    background: transparent url(/static/images/arrow_collapsed.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: top;
    transform: rotate3d(0, 0, 1, 180deg);
}
.expanded {
    transform: rotate3d(0, 0, 1, 270deg);
}
.form_elem_container {
    margin: 0 0 .7rem 0;
}
.form_elem_container label {
    display: inline-block;
    padding: .3rem .5rem;
    border: 0;
    width: 17%;
    text-align: right;
}
.form_elem_container input {
    width: 70%;
}
/* AS top level input fields */
.text_search label {
    width: 11%;
}
.text_search input {
    width: 60%;
}
.text_search input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
.case {
    margin-left: 5%;
}
.content {
    padding: 1em;
}
.path {
    background-repeat: no-repeat;
    background-position: 0 3px;
    margin: 1.2em 0 .5em 0;
    padding-left: 25px;
}
.tree-tip {
    margin: 1.2em 0 .5em 0;
}
.footer {
    font-size: 12px;
    text-align: right;
    margin: -1em 1em .5em 1em;
}
/* icons */
.folder-icon {
    background: transparent url(/static/icons/folder.png) 0 4px no-repeat;
    padding: .5em .5em .5em 1.7em;
}
.folder-content .icon {
    background-color: transparent;
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding: .5em .5em .5em 1.7em;
}
.panel {
    display: none;
}
#fetch-results {
    display: none;
}
/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media only screen and (min-width: 760px) and (max-width: 1000px) {
    input[type="submit"] {
        margin-right: 13.5%;
    }
    .text_search label {
        width: 20%;
    }
    .form_group label {
        width: 31%;
    }
    .form_group input {
        width: 65%;
    }
    .basic_search {
        right: 18.5%;
    }
}
