@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/fonts/icons.woff?2013') format('woff'),
         url('/static/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
 * normalize - Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}
/**
 * normalize - Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}
/**
 * normalize - Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background-color: #fff;
    color: #333;
    font: 12px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
}
h4 {
    margin: 0 0 .5rem 0;
}
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
caption {
    text-align: left;
}
fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}
input,
select {
    padding: .5em;
}
/* Kudos to David Walsh */
input[placeholder],
::-moz-placeholder, /* firefox 19+ */
input:-moz-placeholder {
    text-overflow: ellipsis;
}
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
input[type="submit"] {
    float: right;
    margin: 0 17% 0 0;
    width: 6rem;
    height: 2rem;
}
table {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}
table#file {
    width: 100%;
}
table.folder-content thead tr:first-child {
    color: #555;
    padding: .5em;
}
table th {
    font-weight: bold;
    padding: .5em;
    text-align: left;
}
.folder-content th:first-child {
    padding-left: .5em;
}
.folder-content th {
    padding-left: 0;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}
table.folder-content thead tr:first-child,
table.folder-content tr:nth-child(even) {
    background-color: #f5f5f5;
}
table.folder-content tbody tr:hover,
table tbody tr:hover,
.context-menu a:hover {
    background-color: #e8e8e8;
}
table.folder-content td {
    padding: 0;
}
table.folder-content a {
    display: block;  /* Make entire cells clickable. */
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    text-decoration: none;
}
table td {
    padding: .5em;
}
td.code {
    padding: 0 0 0 .5em;
}
td#line-numbers {
    padding: 0;
}
td#line-numbers span {
    display: block;
    cursor: pointer;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    padding: 0 0.5rem;
}
.highlighted,
.multihighlight {
    background: none repeat scroll 0 0 rgb(255, 255, 204);
}
td.code {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}
td pre code {
    position: relative;
    float: left;
    clear: none;
    padding: 0 0 0 1em;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
code a {
    cursor: pointer;
}
.code code {
    padding: 0 0.5rem;
    width: 100%;
}
.code code a {
    cursor: context-menu;
}
mark {
    position: relative;
    padding: .5rem;
}
.logo a:focus {
    background-color: transparent;
}

/* results */

.results tr:hover,
.file tr:hover {
    background: none;
}
.results tr,
.file tr {
    border: 0;
    line-height: 1.3;
}
.left-column,
.file td:first-child {
    text-align: right;
    color: #aaa;
    width: 6ex;
}
.results td {
    padding: .1rem .5rem;
}
.results a {
    cursor: pointer;
    display: inline-block;
}
.file a:target {
    background-color: gray;
    color: white;
    padding: 0 .5rem;
}
.results code {
    white-space: pre;
}
.result-head td
{
    padding-top: .3rem; /* Additional padding to visually seperate results.*/
    padding-bottom: 0;
}
.result-head td.left-column
{
    padding-right: .2rem; /* Moves the icon closer to the path by reducing the padding.*/
}
.result-head a
{
    display: inline;
}

/* end results */

.file td {
    padding: 0;
}
.file td:first-child a {
    display: block;
    padding: 0 .5rem;
}
.file pre {
    margin: 0;
}
.access-key {
    text-decoration: underline;
}
mark {
    padding: .3rem 0;
}

/* Context Menu */
.context-menu {
    position: absolute;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    width: auto;
    list-style: none;
    z-index: 2;
}
.context-menu a {
    display: block;
    text-decoration: none;
}
.context-menu li:first-child a:hover {
    border-top-right-radius: 6px;
}
.context-menu li:last-child a:hover {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
/* Search header */
.header {
    position: fixed;
    top: 0;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #f8f8f8, #eaeaea);
    border-bottom: 1px solid #6d6d6d;
    border-top: 1px solid #f5f5f5;
    color: #333;
    padding: .8rem;
    width: 100%;
    z-index: 100;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.find {
    -webkit-flex: 9;
    flex: 9;
    position: relative;
}
.case {
    -webkit-flex: 1;
    flex: 1;
    padding: 0 1rem;
    min-width: 9rem;
    align-self: center;
}
.basic_search {
    position: absolute;
    top: 80%;
    right: 25.2%;
    padding: .2rem 0 0;
}
.wide {
    width: 44.4%;
}
.arrow_icon {
    display: inline-block;
    background: transparent url(/static/images/arrow_collapsed.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: top;
    transform: rotate3d(0, 0, 1, 180deg);
}
.expanded {
    transform: rotate3d(0, 0, 1, 270deg);
}
.content {
    margin-top: 55px;
    padding: 1rem 2rem;
}
.path-separator {
    margin: 0 .2rem;
}
.breadcrumbs,
.top-of-tree {
    display: inline-block;
    float: left;
    margin: 0;
    padding: .5rem 0 1rem 0;
    text-align: left;
}

/* Header help icon */
.help-icon {
    float: right;
    height: 32px;
    margin-left: 6px;
    position: relative;
    width: 32px;
}
.help-icon:before {
    content: "\e805";
    cursor: pointer;
    display: inline-block;
    font-family: icons;
    font-size: 21px;
    height: 25px;
    padding: 0 6px 6px;
    position: relative;
    speak: none;
    z-index: 200;
}
.help-icon.open:before {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-bottom: none;
}
.help-msg {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    display: none;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 31px;
    width: 350px;
    z-index: 150;
}
.help-msg p {
    margin-top: 0;
}
.help-msg ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
.help-msg a {
    color: #0095dd;
}

/* top of tree */
.top-of-tree a:link,
.top-of-tree a:visited,
.breadcrumbs a:link,
.breadcrumbs a:visited,
.bubble a:link,
.bubble a:visited,
.result-head a:link,
.result-head a:visited {
    color: #0095dd;
}
.top-of-tree a:hover,
.breadcrumbs a:hover,
.result-head a:hover {
    color: #00539f;
}
.top-of-tree a:focus,
.breadcrumbs a:focus,
.result-head a:focus {
    color: #00539f;
    text-decoration: none;
}
.footer {
    color: #999;
    font-size: .7rem;
    margin: 0 0 0 1.2rem;
}

/* Navigation panel */
.panel {
    position: fixed;
    top: 105px;
    right: 22px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-right: 0;
    min-width: 12rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 150px);
    max-width: 30%;
    z-index: 2;
}
.panel button{
    display: inline-block;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: .5rem .2rem .5rem .7rem;
    border: 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.navpanel-icon {
    display: inline-block;
    margin-right: .5rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: all .1s;
}
.navpanel-icon.expanded {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .1s;
}
.navpanel-icon:before {
    font-family: icons;
    content: "\e801";
    speak: none;
}
.panel h4 {
    margin: 0;
    padding: .5rem;
}
.panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.panel a.class {
    background-position: 4px 8px;
}
.panel a.method {
    background-position: 4px 6px;
}
.panel a.field {
    background-position: 2px 10px;
}
.panel section a {
    display: inline-block;
    background-color: #fff;
    width: 100%;
}
.panel section a:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}
.panel section a:focus {
    background-color: #e0e0e0;
    text-decoration: underline;
}
.no-results {
    clear: both;
    font-style: italic;
}
#fetch-results {
    display: none;
}
/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* Message bubble */
.bubble {
    border: 1px solid #ccc;
    border-radius: 9px;
    color: #6c6c6c;
    display: none;
    font-size: 85%;
    padding: 0.1rem 30px 0.1rem 34px;
    position: absolute;
    top: .25rem;
}
/* The big triangle */
.bubble:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #ccc transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;

    top: -9px; /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    right: auto;
    left: 11px; /* controls horizontal position */
    border-width: 0 9px 9px;
}
/* The small triangle */
.bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;

    top: -8px; /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    right: auto;
    left: 11px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width: 0 9px 9px;
}
.bubble.info {
    background: white url(/static/images/info.gif) 12px 0 / 3ex no-repeat;
}
.bubble.warning {
    background: white url('/static/images/warning.gif') 10px -2px / 3.5ex no-repeat;
}
.bubble.error {
    background: white url(/static/images/error.gif) 12px 0 / 3ex no-repeat;
}
.zero-size-container {
    position: relative;
    height: 0;
    width: 100%;
}
@media only screen and (min-width: 740px) {
    .bubble {
        margin-right: 16%;  /* 100% minus the above */
    }
    input[type="submit"] {
        margin-right: 16.3%;
    }
    .basic_search {
        right: 13%;
    }
}

@media only screen and (min-device-width: 320px) {
    .bubble {
        margin-right: 38%;  /* 100% minus the above */
    }
    input[type="submit"] {
        margin-right: 14%;
    }
    label,
    .form_elem_container label,
    .text_search label {
        padding: 0 0 .2rem 0;
        text-align: left;
        white-space: nowrap;
    }
    .basic_search {
        top: 11%;
        left: 13px;
        text-align: left;
    }
}
