@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/fonts/icons.woff?2013') format('woff'),
         url('/static/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
 * normalize - Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}
/**
 * normalize - Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}
/**
 * normalize - Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 16px/1.5 Arial, Helvetica, sans-serif;
}
h4 {
    margin: 0 0 .5rem 0;
}
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
caption {
    font-size: 12px;
    text-align: left;
}
label {
    font-size: 14px;
}
fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}
input,
select {
    padding: .5em;
}
option {
    font-size: 12px;
}
/* Kudos to David Walsh */
input[placeholder],
::-moz-placeholder, /* firefox 19+ */
input:-moz-placeholder {
    text-overflow: ellipsis;
}
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
input[type="submit"] {
    float: right;
    margin: 0 17% 0 0;
    width: 6rem;
    height: 2rem;
    font-size: .8rem
}
table {
    background-color: #f6f4ec;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    overflow: auto;
}
table thead {
    background-color: #333;
    color: #fff;
    padding: .5em;
}
table th {
    padding: .5em;
    text-align: left;
}
table tr {
    border-bottom: 1px solid #fff;
}
table tbody tr:hover {
    background-color: #E4E4D7;
}
table td {
    padding: .5em;
}
td.code {
    padding: 0 0 0 .5em;
}
code a {
    cursor: pointer;
}
mark {
    position: relative;
    padding: .5rem;
}
.logo a:focus {
    background-color: transparent;
}
.top-of-tree {
    font-size: .8rem;
}
.result_snippet th:first-child {
    border-right: 1px solid #fff;
    text-align: center;
}
table.result_snippet tr {
    border: 0;
}
.result_snippet td:first-child {
    background-color: #e0e0e0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #edefef;
    width: 4%;
    text-align: center;
}
.result_snippet td:first-child a:hover {
    background-color: #e0e0e0;
}
.result_snippet td {
    padding: .1rem .5rem;
}
.result_snippet a {
    width: 100%;
}
.result_snippet tr:target {
    background-color: gold;
}
.result_snippet code a {
    display: inline;
    width: 100%;
}
.checkbox_case {
    margin: .5em;
}
.checkbox_label {
    white-space: nowrap;
}
.file tr {
    line-height: 1.2;
}
.file th {
    line-height: 1.5;
}
.file pre {
    margin: .3rem;
}
mark {
    padding: .3rem;
}
/* Context Menu */
.context-menu {
    position: absolute;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    width: auto;
    font-size: .8rem;
    list-style: none;
}
.context-menu a {
    display: block;
    padding: .4rem;
    text-decoration: none;
}
.context-menu a:hover {
    background-color: #e0e0e0;
}
.context-menu li:first-child a:hover {
    border-top-right-radius: 6px;
}
.context-menu li:last-child a:hover {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.top {
    margin-right: .5em;
    font-size: 11px;
    text-align: right;
}
.search-box {
    position: fixed;
    top: 0;
    background-color: #f6f4ec;
    color: #333;
    padding: .8rem;
    border-bottom: 10px solid #333;
    width: 100%;
    z-index: 100;
}
.header_nav_link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 4% 0 0;
    padding: 0.4rem 0 0;
    font-size: .8rem;
    text-align: right;
    list-style: none;
}
.header_nav_link li {
    display: inline;
}
.header_nav_link a {
    margin-left: 1rem;
}
.basic_search {
    position: absolute;
    top: 80%;
    right: 25.2%;
    padding: .2rem 0 0;
}
.simple_form_group {
    display: block;
    margin-right: .3rem;
    padding: .7rem .3rem 0 .7rem;
}
.form_group {
    display: inline-block;
    width: 32.1%;
    min-height: 185px;
    vertical-align: top;
    transition: height 1s;
}
.wide {
    width: 44.4%;
}
.arrow_icon {
    display: inline-block;
    background: transparent url(/static/images/arrow_collapsed.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: top;
    transform: rotate3d(0, 0, 1, 180deg);
}
.expanded {
    transform: rotate3d(0, 0, 1, 270deg);
}
.form_elem_container {
    margin: 0 0 .7rem 0;
}
.form_elem_container label {
    display: inline-block;
    padding: .3rem .5rem;
    border: 0;
    /*width: 17%; */
    min-width: 125px;
    text-align: right;
}
.form_elem_container input {
    width: 70%;
}
/* AS top level input fields */
.text_search label {
    width: 11%;
}
.text_search input {
    width: 60%;
}
.text_search .query {
    width: 88%;
}
.text_search input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
.content {
    margin-top: 80px;
    padding: 1em;
}
.path {
    background-repeat: no-repeat;
    background-position: 0 3px;
    margin: 1.2em 0 .5em 0;
}
.path-separator {
    margin: 0 .4rem;
}
.file-name,
.top-of-tree {
    display: inline-block;
    float: left;
    margin: 0;
    padding: .5rem 0 1rem 0;
    font-size: .9rem;
    text-align: left;
}
/* top of tree */
.top-of-tree a:link,
.top-of-tree a:visited,
.file-name a:link,
.file-name a:visited {
    color: #0095dd;
}
.top-of-tree a:hover,
.file-name a:hover {
    color: #00539f;
}
.top-of-tree a:focus,
.file-name a:focus {
    color: #00539f;
    text-decoration: none;
}
.footer {
    color: #999;
    font-size: .7rem;
    margin: 0 0 0 1.2rem;
}
/* icons */
.folder-icon {
    background: transparent url(/static/icons/folder.png) 0 4px no-repeat;
    padding: .5em .5em .5em 1.7em;
}
.folder-content,
.result {
    clear: both;
}
.folder-content .icon {
    background-color: transparent;
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding: .5em .5em .5em 1.7em;
}
a.reference {
    background: transparent url(/static/icons/reference.png) 4px 8px no-repeat;
    padding-left: 1.5rem;
}
a.method {
    background: transparent url(/static/icons/method.png) 4px 8px no-repeat;
    padding-left: 1.5rem;
}
a.field {
    background: transparent url(/static/icons/field.png) 2px 8px no-repeat;
    padding-left: 1.5rem;
}
a.search {
    background: transparent url(/static/icons/search.png) 4px 8px no-repeat;
    padding-left: 1.5rem;
}
a.class {
    background: transparent url(/static/icons/class.png) 4px 2px no-repeat;
    padding-left: 1.5rem;
}
/* MimeType Icons */
.build {
    background: transparent url(/static/icons/mimetypes/build.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
a.c {
    background: transparent url(/static/icons/mimetypes/c.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.conf {
    background: transparent url(/static/icons/mimetypes/conf.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.cpp {
    background: transparent url(/static/icons/mimetypes/cpp.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.cs {
    background: transparent url(/static/icons/mimetypes/cs.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.diff {
    background: transparent url(/static/icons/mimetypes/diff.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.h {
    background: transparent url(/static/icons/mimetypes/h.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.html {
    background: transparent url(/static/icons/mimetypes/html.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.iso {
    background: transparent url(/static/icons/mimetypes/iso.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.java {
    background: transparent url(/static/icons/mimetypes/java.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.js {
    background: transparent url(/static/icons/mimetypes/js.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.mm {
    background: transparent url(/static/icons/mimetypes/mm.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.page_white_code_red {
    background: transparent url(/static/icons/mimetypes/page_white_code_red.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.php {
    background: transparent url(/static/icons/mimetypes/php.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.py {
    background: transparent url(/static/icons/mimetypes/py.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.rb {
    background: transparent url(/static/icons/mimetypes/rb.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.sh {
    background: transparent url(/static/icons/mimetypes/sh.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.svg {
    background: transparent url(/static/icons/mimetypes/svg.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.tex {
    background: transparent url(/static/icons/mimetypes/tex.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.txt {
    background: transparent url(/static/icons/mimetypes/txt.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.ui {
    background: transparent url(/static/icons/mimetypes/ui.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.unknown {
    background: transparent url(/static/icons/mimetypes/unknown.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.vs {
    background: transparent url(/static/icons/mimetypes/vs.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
.xml {
    background: transparent url(/static/icons/mimetypes/xml.png) 4px 0 no-repeat;
    padding-left: 1.5rem;
}
/* Navigation panel */
.panel {
    display: none;
    position: absolute;
    top: 140px;
    right: 16px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-right: 0;
    min-width: 12rem;
}
.panel section {
    display: none;
}
.panel button{
    display: inline-block;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: .5rem .2rem .5rem .7rem;
    border: 0;
    width: 100%;
    font-size: .9rem;
    text-align: left;
    cursor: pointer;
}
.navpanel-icon {
    display: inline-block;
    margin-right: .5rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: all .5s;
}
.navpanel-icon.expanded {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .5s;
}
.navpanel-icon:before {
    font-family: icons;
    content: "\e801";
    speak: none;
}
.panel h4 {
    margin: 0;
    padding: .5rem;
    font-size: .9rem;
}
.panel ul {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    list-style: none;
}
.panel a.class {
    background-position: 4px 8px;
}
.panel a.method {
    background-position: 4px 6px;
}
.panel a.field {
    background-position: 2px 10px;
}
.panel section a {
    display: inline-block;
    background-color: #fff;
    padding: .3rem .5rem .3rem 1.5rem;
    width: 100%;
}
.panel section a:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}
.panel section a:focus {
    background-color: #e0e0e0;
    text-decoration: underline;
}
/* user messages */
.user-message {
    clear: both;
    padding: .5rem;
    border-bottom: 3px solid darkgreen;
}
.user-message.info {
    background: -webkit-linear-gradient(rgb(129, 188, 46), rgb(101, 147, 36));
    background: -moz-linear-gradient(rgb(129, 188, 46), rgb(101, 147, 36));
    background: linear-gradient(rgb(129, 188, 46), rgb(101, 147, 36));
    color: white;
}
#fetch-results {
    display: none;
}
/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media only screen and (min-device-width: 320px) {
    input[type="submit"] {
        margin-right: 14%;
    }
    label,
    .form_elem_container label,
    .text_search label {
        padding: 0 0 .2rem 0;
        width: auto;
        text-align: left;
    }
    .text_search input {
        width: 90%;
    }
    .query_label {
        /*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding:0;
        border:0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
    .text_search .query {
        width: 100%;
    }
    .form_group input {
        width: 98%;
    }
    .simple_form_group {
        padding-left: 0;
    }
    .simple_form_group label {
        display: inline-block;
    }
    .basic_search {
        top: 11%;
        left: 13px;
        text-align: left;
    }
}
@media only screen and (min-width: 740px) {
    input[type="submit"] {
        margin-right: 16.3%;
    }
    .text_search label {
        width: 20%;
    }
    .text_search input {
        width: 64%;
    }
    .form_group label {
        padding: 0 0 .2rem 0;
        width: auto;
        text-align: left;
    }
    .form_group input {
        width: 90%;
    }
    .basic_search {
        right: 13%;
    }
}
@media only screen and (min-width: 1224px) {
    .text_search .query {
        width: 89%;
    }
}
