@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/fonts/icons.woff?2013') format('woff'),
         url('/static/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.search-filter {
    display: inline-block;
    position: absolute;
    right: 12.8%;
    top: 24%;
    width: auto;
}
.sf-select-options {
    display: none;
    position: absolute;
    right: -2px;
}
.sf-select-trigger {
    background-color: white;
    padding: .1rem 0 .3rem 0;
    border: 1px solid white;
    width: auto;
    min-width: 70px;
    font-size: .8rem;
    cursor: pointer;
}
.sf-selector-arrow {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
}
[data-filter-arrow]:before {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    font-family: icons;
    content: attr(data-filter-arrow);
    speak: none;
}
.sf-modal {
    border: 1px solid #d4d4d4;
    border-radius: 0 0 6px 6px;
    min-width: 120%;
}
.sf-select-options li:first-child a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .search-filter {
        right: 20.7%;
    }
}
@media only screen and (min-width: 760px) and (max-width: 1000px) {
    .search-filter {
        right: 21%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 740px) {
    .search-filter {
        top: 18%;
        right: 5%;
    }
    .sf-select-options {
        right: -4px;
    }
    .sf-modal {
        border: 1px solid #d4d4d4;
        border-radius: 0 0 6px 6px;
        width: 260px;
        min-width: 200px;
    }
    .selector-options a {
        white-space: normal;
    }
}
