@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/fonts/icons.woff?2013') format('woff'),
         url('/static/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.search-filter {
    display: inline-block;
    position: absolute;
    right: 13%;
    top: 26%;
    width: auto;
}
.sf-select-options {
    display: none;
    position: absolute;
    right: 11.70%;
    width: 86.50%;
}
.sf-select-trigger {
    background-color: white;
    padding: .1rem 0 .3rem 0;
    border: 1px solid white;
    width: auto;
    min-width: 70px;
    font-size: .8rem;
    cursor: pointer;
}
.sf-selector-arrow {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
}
[data-filter-arrow]:before {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    font-family: icons;
    content: attr(data-filter-arrow);
    speak: none;
}
.sf-modal {
    border: 1px solid #d4d4d4;
    border-radius: 0 0 6px 6px;
}
.sf-select-options li:first-child a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
@media only screen and (min-device-width: 320px) {
    .search-filter {
        top: 18%;
        right: 3%;
    }
    .sf-select-options {
        top: 52%;
        right: 1.80%;
        width: 96.40%;
    }
}
@media only screen and (min-width: 740px) {
    .search-filter {
        top: 17%;
        right: 2%;
    }
    .sf-select-options {
        right: 1.10%;
        width: 97.80%;
    }
}
@media only screen and (min-width: 1224px) {
    .search-filter {
        right: 12%;
        top: 26%;
    }
    .sf-select-options {
        top: 76%;
        right: 11.70%;
        width: 87.40%;
    }
}
