/* icons */
.icon.folder {
    background: transparent url(/static/icons/mimetypes/folder.png) .5em 7px no-repeat;
    padding: .5em .5em .5em 30px;  /* 30px = 16px icon + 7px padding above + a little more whitespace */
}
.folder-content {
    clear: both;
}
.icon {
    background-color: transparent;
    background-position: .5em center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: .5em .5em .5em 30px;
}
.icon-container {
    background-color: transparent;
    background-repeat: no-repeat;
    float: right;
    padding: 8px; /* Makes the container 16x16 in order to show full icon. */
}

/* Folder context-menu */
a.goto-folder {
    background-image: url(/static/icons/goto_folder.png);
}
a.path-search {
    background-image: url(/static/icons/path_search.png);
}
a.exclude-path {
    background-image: url(/static/icons/exclude_path.png);
}
/* End of folder context-menu */

/* Context-menu and Panel icons */
a.class {
    background-image: url(/static/icons/class.png);
}
a.method {
    background-image: url(/static/icons/method.png);
}
a.field {
    background-image: url(/static/icons/field.png);
}
/* End of Context-menu and Panel icons */

/* Context-menu only icons */
a.reference {
    background-image: url(/static/icons/reference.png);
}
a.search {
    background-image: url(/static/icons/search.png);
}
a.buglink {
    background-image: url(/static/icons/buglink.png);
}
a.external_link {
    background-image: url(/static/icons/external_link.png);
}
a.jump {
    background-image: url(/static/icons/jump.png);
}
a.members {
    background-image: url(/static/icons/members.png);
}
a.type {
    background-image: url(/static/icons/type.png);
}
/* End of Context-menu only icons */

/* Panel only icons */

/* Panel icons that are always shown - uncomment when ready! ->
.panel .blame {
    background-image: url(/static/icons/blame.png);
}
.panel .diff {
    background-image: url(/static/icons/diff.png);
}
.panel .log {
    background-image: url(/static/icons/log.png);
}
.panel .raw {
    background-image: url(/static/icons/raw.png);
}
/* End of Panel icons that are always shown */

.icon-container.folder, .promoted-icon.folder {
    background: transparent url(/static/icons/mimetypes/folder.png) no-repeat;
}
.enum {
    background-image: url(/static/icons/enum.png);
}
.struct {
    background-image: url(/static/icons/struct.png);
}
.union {
    background-image: url(/static/icons/union.png);
}
.macro {
    background-image: url(/static/icons/macro.png);
}
/* End of Panel only icons */

/* MimeType Icons */
.build {
    background-image: url(/static/icons/mimetypes/build.png);
}
/* The .c class is used in files for comments. This definition is there just to prevent overriding. */
.icon-container.c,
.icon.c { 
    background-image: url(/static/icons/mimetypes/c.png);
}
.conf {
    background-image: url(/static/icons/mimetypes/conf.png);
}
.cpp {
    background-image: url(/static/icons/mimetypes/cpp.png);
}
.cs {
    background-image: url(/static/icons/mimetypes/cs.png);
}
.css {
    background-image: url(/static/icons/mimetypes/css.png);
}
/* Prevents display of diff icon in the panel, which has its own */
.results .diff,
.folder-content .diff {
    background-image: url(/static/icons/mimetypes/diff.png);
}
.h {
    background-image: url(/static/icons/mimetypes/h.png);
}
.html {
    background-image: url(/static/icons/mimetypes/html.png);
}
.iso {
    background-image: url(/static/icons/mimetypes/iso.png);
}
.image {
    background-image: url(/static/icons/mimetypes/image.png);
}
.java {
    background-image: url(/static/icons/mimetypes/java.png);
}
.js {
    background-image: url(/static/icons/mimetypes/js.png);
}
.mm {
    background-image: url(/static/icons/mimetypes/mm.png);
}
.page_white_code_red {
    background-image: url(/static/icons/mimetypes/page_white_code_red.png);
}
.php {
    background-image: url(/static/icons/mimetypes/php.png);
}
.py {
    background-image: url(/static/icons/mimetypes/py.png);
}
.rb {
    background-image: url(/static/icons/mimetypes/rb.png);
}
.sh {
    background-image: url(/static/icons/mimetypes/sh.png);
}
.svg {
    background-image: url(/static/icons/mimetypes/svg.png);
}
.tex {
    background-image: url(/static/icons/mimetypes/tex.png);
}
.txt {
    background-image: url(/static/icons/mimetypes/txt.png);
}
.ui {
    background-image: url(/static/icons/mimetypes/ui.png);
}
.unknown {
    background-image: url(/static/icons/mimetypes/unknown.png);
}
.vs {
    background-image: url(/static/icons/mimetypes/vs.png);
}
.xml {
    background-image: url(/static/icons/mimetypes/xml.png);
}
