.selector-options {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    list-style: none;
}
.selector-options a {
    display: block;
    background-color: white;
    color: #000;
    padding: .6rem .6rem .6rem 2rem;
    text-decoration: none;
}
.selector-options a:hover {
    background-color: #005CB8;
    color: #fff;
}
.selector-options li {
    border-top: 1px solid #e0e0e0;
}
.selector-options li:first-child {
    border-top: none;
}
.selector-options li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.selector-options li:first-child a {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.selector-option-label {
    font-weight: bold;
}
@media only screen and (min-device-width: 320px) {
    .selector-options a {
        white-space: inherit;
    }
}
@media only screen and (min-width: 740px) {
    .selector-options a {
        white-space: nowrap;
    }
}
@media only screen and (min-width: 1224px) {
    .selector-options a {
        white-space: nowrap;
    }
}
