[DXR]
enabled_plugins     = pygmentize clang
google_analytics_key = "RANDOM_KEY_$#$"
es_index            = dxr_test_{format}_{tree}_{unique}
es_alias            = dxr_test_{format}_{tree}
es_catalog_index    = dxr_test_catalog

[code]
source_folder       = code
build_command       =
clean_command       =
