{% extends "layout.html" %}

{% block title %}{{path}} - DXR{% endblock %}

{% block head %}
  <link rel="shortcut icon" href="{{wwwroot}}/static/icons/{{icon}}.png"/>
{% endblock %}

{% set panel = True %}

{% block panel %}
  {% for section, items in sections %}
  <div class="section">
    <h1>{{section}}</h1>
    {% for icon, title, href in items %}
      <a href="{{href}}"
        title="{{title}}"
        style="background-image: url('{{wwwroot}}/static/icons/{{icon}}.png');"
        >{{title}}</a>
    {%- endfor %}
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
  <h1 class="path">{{path}}</h1>
  <div class="lines">
    {% for number, line, annotations in lines %}
    <div class="aset">
   		{%- for annotation in annotations -%}
  			<div {% for key, value in annotation.items() %} {{key}}="{{value}}" {% endfor %}></div>
   		{%- endfor -%}
    </div>
    <a href="{{wwwroot}}/{{tree}}/{{path}}#l{{number}}" class="ln" name="l{{number}}"><code>{{"%4i"|format(number)}}</code></a>
    <code class="line">{{line}}</code><br>
    {% endfor %}
  </div>
{% endblock %}
