<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{% block title %}DXR Code Index{% endblock %}</title>
  </head>
  <body>
    <div id="search-box">
      <form method="get" action="{{wwwroot}}/search">
        <input type="hidden" name="tree" value="{{tree}}">
        <input type="text"   name="q"    value="{{query}}" maxlength="2048" title="Search">
        <input type="submit" value="Search">
      </form>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
