{% extends "layout.html" %}

{% block title %}{{query}} - DXR Search{% endblock %}

{% block content %}
  {% if error %}
    <b>{{error}}</b>
  {% endif %}
  {% for path, lines in results %}
    <div class="result">
      <a class="path">{{path}}</a><br>
      <div class="lines">
        {% for number, line in lines %}
        <a href="{{wwwroot}}/{{tree}}/{{path}}#l{{number}}"><code>{{"%4i"|format(number)}}</code><code>{{line}}</code></a><br>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>No search results found!</p>
  {% endfor %}
{% endblock %}

