#search-box {
    text-align: center;  /* For big logo */
    width: 100%;
}
.with-results {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

#width-limiter {
    font-family: sans-serif;
    margin: auto;
    max-width: 30em;
    text-align: left;
}
.with-results #width-limiter {
    font-size: 0.8em;
    margin-left: 53px;
    margin-right: 5px;
    max-width: none;
    padding: 2px;
}

#big-logo {
    max-width: 40%;
    max-height: 35%;
    width: 400px;
}
.with-results #big-logo {
    display: none;
}

#small-logo {
    width: 51px;
    height: 49px;
}

#dxr {
    display: none;
    float: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.with-results #dxr {
    display: inline;
}

/* I use these to show and hide things that don't otherwise have a distinguishing ID or class. */
.shown-with-results {
    display: none;
}
.with-results .shown-with-results {
    display: block;
}
.with-results .hidden-with-results {
    display: none;
}

#search-background {
    background-color: #eee;
    padding: 2ex;
}
.with-results #search-background {
    padding: 0;
    min-height: 49px;
}

#query {
    border: 1px solid #888;
    font-family: monospace;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    min-height: 20px;
    outline: none;
    vertical-align: middle;
    width: 80%;
}
.with-results #query {
    background-image: url("/static/icons/page_white_find.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#case-label {
    display: none;
    white-space: nowrap;
}
.with-results #case-label {
    display: inline;
}

#tree-tip {
    float: right;
}

#qtree {
    border: 1px solid black;
    font-size: 0.8em;
    font-weight: bold;
    height: 18px;
    margin: 0px;
    outline: none;
    padding: 0px;
}


body {
    margin: 50px 0px 0px 0px;
}

#tree {
    margin: 0px;
    font-size: 1em;
}

#panel {
    background-color: #eee;
    font-size: 0.8em;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 10;
    padding: 1ex;
    font-family: sans-serif;
}

#panel-toggle {
    font-size: 2em;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#contena {
    position: relative;
    background-color: #ffffff;
    z-index: 5;
}

.section h1 {
    font-size: 1em;
}

#panel a {
    text-decoration: none;
    color: #000;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}

#panel a:hover {
    background-color: #ccc;
    text-decoration: underline;
}


pre { margin: 0px; }

.ln {
    display: block;
    text-align: right;
    color: #888;
    -moz-user-select: none;
    user-select: none;
    padding-left: 2ex;
    padding-right: 4px;
}

.ln, .result a {
    text-decoration: none;
}
.ln:hover, .result a:hover {
    text-decoration: underline;
}

.highlight .ln {
    color: #fff;
}

a.snippet {
    color: #000;
    display: block;
}

a.snippet:hover {
    text-decoration: none;
    background-color: #eee;
}

.highlight {
    background-color: #ccc;
}

.ln:hover > pre {
    background-color: #eee;
}

div .line-numbers {
    margin-right: 4px;
    border-right: 1px solid #ccc;
    float: left;
}

.result .line-numbers {
    width: 8ex;
}

.file-lines a {
    cursor: pointer;
}

.note {
    float: left;
    height: 16px;
    width: 16px;
    margin-bottom: -1px;
}

#annotations .note-blame {
    display: none;
    cursor: pointer;
}
#annotations.blame .note {
    display: none;
}
#annotations.blame .note-blame {
    display: block;
}

#annotations {
    float: left;
}

.annotation-set {
    font-family: monospace;
}

.annotation-set:after {
    content: "\a0"; /* non-breaking space */
}

.result div.path {
    font-family: monospace;
    background-repeat: no-repeat;
    padding-left: 52px;
    background-position: 32px 2px;
    padding-top: 2.5px;
    height: 17.5px;
}

table.folder-content {
    font-family: monospace;
    width: 100%;
}

.folder-content a {
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.folder-content th {
    text-align: left;
}

#inline-menu {
    background-color: #eee;
    display: none;
    position: absolute;
    z-index: 10;
}

#inline-menu a {
    background-position: 2px 2px;
    background-repeat: no-repeat;
    height: 20px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    display: block;
    color: #000;
}

#inline-menu a:hover {
    background-color: #ccc;
}

#info-box {
    background-color: #eee;
    display: none;
    position: absolute;
    padding: 5px;
    z-index: 8;
}

#info-box img { float: left; padding-right: 5px;}

#fetch-results {
    background-color: #eee;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    text-align: center;
    font-size: 2em;
}

#foot {
    clear: both;
    padding: 5px;
    font-family: sans-serif;
    font-size: 0.8em;
    height: 48px;
}

#advanced-search div.section input {
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #888;
    font-family: monospace;
    margin: 2px;
    width: 30ex;
}

#advanced-search div.section label {
    font-family: monospace;
    font-size: 12px;
    width: 15ex;
    display: inline-block;
    text-align: right;
}

#no-results {
    width: 100%;
    text-align: center;
}

div.file-name { 
    padding: 0 1em;
    font-weight: bold;
}
div.file-name a { 
    text-decoration: none;
}
div.file-name span.slash { 
    padding: 0 0.5em;
}

div.file-name a:hover { 
    text-decoration: underline;
    background-color: #eee;
}
