# Settings, filled out by dxr-build.py -f FILE

from ordereddict import OrderedDict

{#-
The right-hand side of these assignments will be filled using Jinja templating.
Using repr, we save simple variables this way for use later. Essentially, this
means that we don't do parser config files on the server, which is nice and
more speed.
#}

TREES                 = {{ trees }}
WWW_ROOT              = {{ wwwroot }}
GENERATED_DATE        = {{ generated_date }}
DIRECTORY_INDEX       = {{ directory_index }}
