<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    {% block head %}
      <link href="{{ wwwroot }}/static/icons/search.png" rel="shortcut icon">
    {% endblock %}
    <title>{% block title %}DXR Code Index{% endblock %}</title>

    {% block site_css %}
      <link href="{{ wwwroot }}/static/css/dxr.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/icons.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/code-style.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/selector-common.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/filter.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
  </head>
  <body {% block body_class %}{% endblock %}>
    {% block body %}

      <div id="search-box" class="{% block search_box_class %}with-results{% endblock %} search-box">
        <form method="get" action="{{ wwwroot }}/{{ tree }}/search" {% block search_type_id %}id="basic_search"{% endblock %} data-error="An error occured during the processing of your query. Please reload the page and try again.">
          <fieldset class="text_search">
            {% block legend %}{% endblock %}

            {% block text_search %}
              <label for="query" class="query_label visually-hidden">Find</label>
              <input type="text" name="q" value="{{ query }}" maxlength="2048" id="query" class="query" accesskey="s" title="Search" placeholder="Search {{ tree }}" autocomplete="off" />
              <label class="checkbox_label"><input type="checkbox" name="case" id="case" class="checkbox_case" value="true" accesskey="c"{% if is_case_sensitive %} checked{% endif %} /><span class="access-key">C</span>ase-sensitive</label>
            {% endblock %}
          </fieldset>

          {% block advanced_search %}
          {% endblock %}

            <input type="hidden" value="{{ tree }}" id="ts-value" />
            <input type="hidden" name="redirect" value="true" id="redirect" />

          {% block search_button %}
            <input type="submit" value="Search" class="visually-hidden" />
          {% endblock %}
        </form>

        <section id="search-filter" class="search-filter">
          <button type="button" class="sf-select-trigger" aria-label="Select Filter">
              <!-- arrow icon using icon font -->
              <span aria-hidden="true" data-filter-arrow="&#xe801;" class="sf-selector-arrow">
                  Filters
              </span>
          </button>
        </section>
        <div class="sf-select-options sf-modal" aria-expanded="false">
          <ul class="selector-options" tabindex="-1">
            {% for filter in filters %}
              <li>
                <a href="javascript:void(0)" data-value="{{ filter.name }}:">
                  <span class="selector-option-label">
                    {{ filter.name }}:
                  </span>
                  <span class="selector-option-description">
                    {{ filter.description }}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>

      {% block content %}
        <div id="content" class="content" data-no-results="No results returned for current query."></div>
      {% endblock %}

      {% block footer %}
        <div id="foot" class="footer">
          This page was generated by DXR
          <span class="pretty-date" data-datetime="{{ generated_date }}"></span>.
        </div>
      {% endblock %}
    {% endblock %}

    <div id="inline-menu"></div>
    <div id="info-box"></div>

    {% set eof = True if state_eof else False %}

    {% block js_data %}
      <!-- avoid inline JS and use data attributes instead. Hackey but hey... -->
      <span id="data" data-root="{{ wwwroot }}" data-search="{{ wwwroot }}/{{ tree }}/search" data-tree="{{ tree }}"></span>
      <span id="state" data-offset="{{state_offset or 0}}" data-limit="{{state_limit or 100}}" data-result-count="{{ results|length }}" data-eof="{{ eof }}"></span>
    {% endblock %}

    {% block site_js %}
      <script src="{{ wwwroot }}/static/js/libs/jquery203.js"></script>
      <script src="{{ wwwroot }}/static/js/libs/nunjucks-min.js"></script>
      <script src="{{ wwwroot }}/static/js/templates.js"></script>
      <script src="{{ wwwroot }}/static/js/utils.js"></script>
      <script src="{{ wwwroot }}/static/js/dxr.js"></script>
      <script src="{{ wwwroot }}/static/js/context_menu.js"></script>
      <script src="{{ wwwroot }}/static/js/filter.js"></script>
    {% endblock %}
  </body>
</html>
