{%- from "partial/no_results.html" import no_results -%}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    {% block head %}
      <link href="{{ wwwroot }}/static/icons/search.png" rel="shortcut icon">
    {% endblock %}
    <title>{% block title %}DXR Code Index{% endblock %}</title>

    {% block site_css %}
      <link href="{{ wwwroot }}/static/css/dxr.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/forms.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/icons.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/code-style.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/selector-common.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="{{ wwwroot }}/static/css/filter.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
  </head>
  <body>

    <div class="header">
        <div class="help-icon">
            <div class="help-msg">
                <p>DXR is a code search and navigation tool aimed at making sense of large projects. It supports full-text and regex searches as well as structural queries.</p>
                <ul>
                    <li><a href="https://github.com/mozilla/dxr">DXR on GitHub</a></li>
                    <li><a href="https://dxr.readthedocs.org/en/latest/">How to Get Involved</a></li>
                </ul>
            </div>
        </div>
        <form method="get" action="{{ wwwroot }}/{{ tree }}/search" id="basic_search">
            <fieldset>
                <div id="search-box" class="flex-container" role="group">
                    <div class="elem_container find">
                        <label for="query" class="query_label visually-hidden">Find</label>
                        <input type="text" name="q" {% if should_autofocus_query %}autofocus {% endif %}value="{{ query }}" maxlength="2048" id="query" class="query" accesskey="s" title="Search" placeholder="Search {{ tree }}" autocomplete="off" />
                        <div class="zero-size-container">
                          <div class="bubble">
                          </div>
                        </div>
                        <section id="search-filter" class="search-filter">
                          <button type="button" class="sf-select-trigger" aria-label="Select Filter">
                              <!-- arrow icon using icon font -->
                              <span aria-hidden="true" data-filter-arrow="&#xe801;" class="sf-selector-arrow">
                                  Filters
                              </span>
                          </button>
                        </section>
                        <div class="sf-select-options sf-modal" aria-expanded="false">
                          <ul class="selector-options" tabindex="-1">
                            {% for filter in filters %}
                              <li>
                                <a href="javascript:void(0)" data-value="{{ filter.name }}:">
                                  <span class="selector-option-label">
                                    {{ filter.name }}:
                                  </span>
                                  <span class="selector-option-description">
                                    {{ filter.description }}
                                  </span>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>

                    <div class="elem_container case">
                        <label for="case">
                            <input type="checkbox" name="case" id="case" class="checkbox_case" value="true" accesskey="c"{% if is_case_sensitive %} checked{% endif %} /><span class="access-key">C</span>ase-sensitive
                        </label>
                    </div>
                </div>
            </fieldset>

            <input type="hidden" value="{{ tree }}" id="ts-value" />
            <input type="hidden" name="redirect" value="true" id="redirect" />
            <input type="submit" value="Search" class="visually-hidden" />
        </form>
    </div>

    {% block content %}
      <div id="content" class="content" data-no-results="{{ no_results() }}"></div>
    {% endblock %}

    {% block footer %}
      <div id="foot" class="footer">
        This page was generated by DXR
        <span class="pretty-date" data-datetime="{{ generated_date }}"></span>.
      </div>
    {% endblock %}

    {% set eof = True if state_eof else False %}

    <!-- avoid inline JS and use data attributes instead. Hackey but hey... -->
    <span id="data" data-root="{{ wwwroot }}" data-search="{{ wwwroot }}/{{ tree }}/search" data-tree="{{ tree }}"></span>
    <span id="state" data-offset="{{state_offset or 0}}" data-limit="{{state_limit or 100}}" data-result-count="{{ results|length }}" data-eof="{{ eof }}"></span>

    {% block site_js %}
      <script src="{{ wwwroot }}/static/js/libs/jquery203.js"></script>
      <script src="{{ wwwroot }}/static/js/libs/nunjucks-min.js"></script>
      <script src="{{ wwwroot }}/static/js/templates.js"></script>
      <script src="{{ wwwroot }}/static/js/utils.js"></script>
      <script src="{{ wwwroot }}/static/js/dxr.js"></script>
      <script src="{{ wwwroot }}/static/js/context_menu.js"></script>
      <script src="{{ wwwroot }}/static/js/filter.js"></script>
    {% endblock %}

    {% if google_analytics_key %}
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_key }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    {% endif %}

  </body>
</html>
