{% extends "layout.html" %}
{% from "partial/switch_tree.html" import tree_menu %}
{% from "partial/no_results.html" import no_results -%}

{% block title %}{{ query }} - DXR Search{% endblock %}

{% block site_css %}
  {{ super() }}
  <link href="{{ www_root }}/static/css/tree-selector.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
  <p class="top-of-tree">Results from the <a href="{{ www_root }}/{{ tree }}/source/">{{ tree }}</a> tree:</p>

  {{ tree_menu(tree_tuples, tree) }}

  {% if results|length > 0 %}
    <table class="results">
      <caption class="visually-hidden">Query matches</caption>
      <thead class="visually-hidden">
          <th scope="col">Line</th>
          <th scope="col">Code Snippet</th>
      </thead>
      <tbody>
      {%- for icon, path, lines in results -%}
        <tr class="result-head">
          <td class="left-column">
            <div class="{{ icon }} icon-container"></div>
          </td>
          <td>
            {%- set paths = path.split('/') -%}
            {%- for display_path in paths -%}
              {%- set data_path = '%s/%s' % (data_path, display_path) if data_path else display_path -%}
              {%- set is_first_or_only = loop.first or paths|length == 1 -%}
              {%- set is_dir = not loop.last -%}
              {%- set url = '%s/%s/source/%s' % (www_root, tree, path) -%}

              {%- include 'path_line.html' -%}
            {%- endfor -%}
          </td>
        </tr>
        {% for number, line in lines %}
        <tr>
          <td class="left-column">
            <a href="{{ www_root }}/{{ tree }}/source/{{ path }}#{{ number }}">
              {{ number }}
            </a>
          </td>
          <td>
<a href="{{ www_root }}/{{ tree }}/source/{{ path }}#{{ number }}">
<code aria-labelledby="{{ number }}">{{ line|safe }}</code>
</a>
          </td>
        </tr>
        {% endfor %}
    {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="no-results">{{ no_results() }}</p>
  {% endif %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ www_root }}/static/js/tree-selector.js"></script>
{% endblock %}
