{% extends "file.html" %}

{% block content %}
  {{ super() }}

  {% set state_eof = True %}

  {% if sections %}
    <div class="panel">
      <button id="panel-toggle">
        <span class="navpanel-icon expanded" aria-hidden="false"></span>
        Navigation
      </button>
      <section id="panel-content" aria-expanded="true" aria-hidden="false">
        {% for section in sections %}
          <h4>{{ section.heading }}</h4>
          <ul>
            {% for item in section['items'] %}
              <li>
                <a href="{{ item.href }}" title="{{ item.title }}" class="{{ item.icon }} icon">{{ item.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        {% endfor %}
      </section>
    </div>
  {% endif %}

  <div id="annotations">
    {% for line, annotations in lines %}
      <div class="annotation-set" id="aset-{{ loop.index }}">
        {%- for annotation in annotations -%}
          <div {% for key, value in annotation.items() %}
                {{ key }}="{{ value }}"
               {% endfor %} ></div>
        {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>

  <table id="file" class="file">
    <thead class="visually-hidden">
        <th scope="col">Line</th>
        <th scope="col">Code</th>
    </thead>
    <tbody>
      <tr>
        <td id="line-numbers">
          {% for line in lines %}
            <span id="{{ loop.index }}" class="line-number" unselectable="on" rel="#{{ loop.index }}">{{ loop.index }}</span>
          {% endfor %}
        </td>
        <td class="code">
          {% if not is_text %}
            (binary file)
          {% endif %}
<pre>
{% for line, annotations in lines -%}
<code id="line-{{ loop.index }}" aria-labelledby="{{ loop.index }}">{{ line }}</code>
{%- endfor -%}
</pre>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
