{% extends "layout.html" %}

{% block title %}{{path}} - DXR{% endblock %}

{% block panel %}
  <div class="section">
    <h1>hg.mozilla.org</h1>
    <a href="http://hg.mozilla.org/{{tree}}/filelog/{{revision}}/{{path}}">Log</a>
    <a href="http://hg.mozilla.org/{{tree}}/annotate/{{revision}}/{{path}}">Blame</a>
    <a href="http://hg.mozilla.org/{{tree}}/diff/{{revision}}/{{path}}">Diff</a>
    <a href="http://hg.mozilla.org/{{tree}}/raw-file/{{revision}}/{{path}}">Raw</a>
  </div>
  {% for section, items in sections %}
  <div class="section">
    <h1>{{section}}</h1>
    {% for icon, title, path, line in items %}
    <a href="{{wwwroot}}/{{tree}}/{{path}}#l{{line}}"
       title="{{title}}"
       style="background-image: url('{{wwwroot}}/static/icons/{{icon}}.png');"
       >{{title}}</a>
    {%- endfor %}
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
<div class="line-numbers">
  {% for number, line, annotations in lines %}
  <pre><a href="{{wwwroot}}/{{tree}}/{{path}}#l{{number}}"
          class="ln"
          name="l{{number}}">{{number}}</a></pre>
  {%- endfor %}
</div>
<div class="file-lines">
<pre>
{%- for number, line, annotations in lines %}
<code>{{line}}</code>
{%- for annotation in annotations -%}
<div class="annotation" {% for key, value in annotation.items() %} {{key}}="{{value}}" {% endfor %}>Warning</div>
{%- endfor -%}
{%- endfor -%}
</pre>
</div>
{% endblock %}
