{% extends "layout.html" %}

{% set state_eof = True %}

{% block head %}
<script>
window.addEventListener('load', function(){
  window.addEventListener('dxr-state-changed', function(e){
    var magmoz = document.getElementById('magmoz');
    magmoz.style.display = 'none';
  }, false);
}, false);
</script>
<style type="text/css">
#magmoz{
  max-width:  40%;
  max-height: 35%;
  width:      400px;
}
</style>
{% endblock %}

{% block body %}
<div style="text-align: center;">
  <img src="{{wwwroot}}/static/magmoz.svg" id="magmoz">
  <div style="width: 100%; background-color: #eee; padding: 2ex 0px 2ex 0px">
    <div style="width: 50%; margin: auto; text-align: left; font-family: sans-serif;">
      <form method="get" action="{{wwwroot}}/search">
        You can search
        {% if trees|length > 1%}
          <select name="tree" id="tree">
            {% for tree in trees %}
              <option {% if loop.first -%}selected="selected"{%-endif-%}>{{tree}}</option>
            {% endfor %}
          </select>
        {% else %}
          <b>{{tree}}</b><input type="hidden" name="tree" value="{{tree}}" id="tree">
        {% endif %} here
        <input type="text" name="q" value="{{query}}" maxlength="2048" id="query"
        title="Search" style="width: 100%;font-family: monospace; border: 1px solid black; outline: none;">
      </form>
      or browse 
      {% for tree in trees -%}
        {%- if loop.last and trees|length > 1 %}
          or
        {% elif not loop.first and trees|length > 1 -%}
          ,
        {% endif -%}
        <a href="{{tree}}/">{{tree}}</a>
      {%- endfor -%}
      .
      <div id="tip"></div>
    </div>
  </div>
  <div id="content" style="text-align: left;">
  </div>
  <div id="foot">
  </div>
</div>
{% endblock %}

