{% from "macros.html" import search_box %}
{% extends "layout.html" %}

{% set state_eof = True %}

{% block head %}
<script>
  window.addEventListener('load', function() {
    var query = document.getElementById('query');
    // Hide box in center and display results
    query.addEventListener('input', function showResults(e) {
        var searchBox = document.getElementById('search-box');
        searchBox.classList.add('with-results');

        query.removeEventListener('input', showResults, false);
    }, false);
  }, false);
</script>
{% endblock %}

{% block top_search %}{% endblock %}

{% block content %}
  {{ search_box(trees, tree, query, at_top=False) }}
  <div id="results"></div>
{% endblock %}

{# We want an empty footer #}
{% block foot %}
{% endblock %}
