<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="{{wwwroot}}/static/layout.css" rel="stylesheet" type="text/css">
    <link href="{{wwwroot}}/static/code-style.css" rel="stylesheet" type="text/css">
    <script src="{{wwwroot}}/static/dxr.js"></script>
    <title>{% block title %}DXR Code Index{% endblock %}</title>
  </head>
  <body onload="init();">
    {% block body %}
    <div id="search-box">
      <a href="{{wwwroot}}/">
        <img id="dxr" src="{{wwwroot}}/static/magmoz.png">
      </a>
      <div id="tip">Enter search query here</div>
      <div id="tree">You're browsing <b>{{tree}}</b></div>
      <div id="textwrap">
        <form method="get" action="{{wwwroot}}/search">
          <input type="text" name="q" value="{{query}}" maxlength="2048" title="Search">
          <input type="hidden" name="tree" value="{{tree}}">
        </form>
      </div>
    </div>
    {% if panel %}
    <div id="panel">
      <a onclick="toggle_panel();" id="panel-toggle">
        {%- block panel_title -%}
        Navigation
        {%- endblock -%}
      </a>
      {% block panel %}
      {% endblock %}
    </div>
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="inline-menu"></div>
    {% endblock %}
  </body>
</html>
