<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="{{wwwroot}}/static/layout.css" rel="stylesheet" type="text/css">
    <link href="{{wwwroot}}/static/code-style.css" rel="stylesheet" type="text/css">
    <script>
      var wwwroot = "{{wwwroot}}";
      var tree    = "{{tree}}";
    </script>
    <script src="{{wwwroot}}/static/dxr.js"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}DXR Code Index{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    <div id="search-box">
      <a id="dxr" href="{{wwwroot}}/">
        <img src="{{wwwroot}}/static/magmoz.png">
      </a>
      <div id="search-box-content">
        <div id="tip">Enter search query here</div>
        <div id="tree">You're browsing <b>{{tree}}</b></div>
        <div id="formwrap">
          <form method="get" action="{{wwwroot}}/search">
            <div id="inputwrap">
              <input type="text" id="query" name="q" value="{{query}}" maxlength="2048" title="Search">
            </div>
            <input type="hidden" name="tree" value="{{tree}}">
          </form>
        </div>
      </div>
    </div>
    {% if panel %}
    <div id="panel">
      <a id="panel-toggle">
        {%- block panel_title -%}
        Navigation
        {%- endblock -%}
      </a>
      <div id="panel-content">
        {% block panel %}
        {% endblock %}
      </div>
    </div>
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="inline-menu"></div>
    {% endblock %}
  </body>
</html>
