{% macro search_box(trees, selected_tree, query, at_top=False) %}
  {#
  Draw the search box, which can look like either the big, introductory version
  or the compact version for the top of the results page.

  :arg trees: An array of tree names that we should offer to search
  :arg selected_tree: The one we're actually searching
  :arg query: The search string
  :arg at_top: Whether to theme myself as the compact, top-of-the-page widget
      (rather than the big version for the splash page)
  #}

  {#
  Container for elements whose styles may change upon first entry of a search
  string
  #}
  <div id="search-box"{% if at_top %} class="with-results"{% endif %}>
    <img src="/static/magmoz.svg" id="big-logo">
    <div id="search-background">
      <a id="dxr" href="/"><img src="/static/magmoz.svg" id="small-logo"></a>
      <form method="get" action="/search" id="width-limiter">
        {% set showing_tree_menu = trees|length > 1 %}
        <div class="hidden-with-results">
          You can search

          {% if showing_tree_menu %}
            <select name="tree" id="tree">
              {% for tree in trees %}
                <option{% if ((tree == selected_tree) if selected_tree else loop.first)  %} selected="selected"{% endif %}>{{ tree }}</option>
              {% endfor %}
            </select>
          {% else %}
            <b>{{ selected_tree }}</b>
            <input type="hidden" name="tree" value="{{ selected_tree }}" id="tree">
          {% endif %}
          here
        </div>
        <div class="shown-with-results">
          <div id="tree-tip">
            Browsing {% if not showing_tree_menu %}<b>{{ selected_tree }}</b>{% endif %}
          </div>
          <div id="tip">
            {%- block tip -%}
              Enter search query here
            {%- endblock -%}
          </div>
        </div>

        <input type="text" name="q" value="{{ query }}" maxlength="2048" id="query" accesskey="s"
        title="Search">
        <input type="hidden" name="redirect" value="true" id="redirect"><!-- TODO: What's this for? Did I break stuff by moving it? -->

        <div class="hidden-with-results">
          or browse
          {% for tree in trees -%}
            {%- if loop.last and trees|length > 1 %}
              or
            {% elif not loop.first and trees|length > 1 -%}
              ,
            {% endif -%}
            <a href="{{ tree }}/">{{ tree }}</a>
          {%- endfor -%}
          .
        </div>
      </form>
    </div>
  </div>
{% endmacro %}
