{% extends "layout.html" %}

{% block title %}{{query}} - DXR Search{% endblock %}

{% block content %}
  {% for path, lines in results %}
    <div class="result">
      <a class="path" href="{{wwwroot}}/{{tree}}/{{path}}">{{path}}</a><br>
      {% if lines|length > 0 %}
      {% for number, line in lines %}
        <a class="snippet" href="{{wwwroot}}/{{tree}}/{{path}}#l{{number}}">
        <div class="line-numbers">
        <pre><span class="ln">{{number}}</span></pre>
        </div>
        <div class="file-lines"><pre><code>{{line}}</code></pre></div>
        </a>
        {%- endfor %}
      {% endif %}
    </div>
  {% else %}
    <p>No search results found!</p>
  {% endfor %}
{% endblock %}
