[DXR]
enabled_plugins     = pygmentize clang
es_index            = dxr_test_{config_path_hash}_{format}_{tree}_{unique}
es_alias            = dxr_test_{config_path_hash}_{format}_{tree}
es_catalog_index    = dxr_test_{config_path_hash}_catalog

[code]
source_folder       = code
build_command       =
clean_command       = cd .. && rm -rf code
