<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="${virtroot}/images/favicon.png" type="image/png" />
  <link href="${virtroot}/dxr-styles.css" rel="stylesheet" type="text/css"></link>
  <style type="text/css">@import "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/tundra/tundra.css";</style>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript"
          djConfig="parseOnLoad:true, isDebug:false">
  </script>
  <script>
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.layout.BorderContainer");
  </script>
  <script type="text/javascript" src="${virtroot}/js/search.js"></script>
  <script type="text/javascript" src="${virtroot}/js/dxr.js"></script>
</head>
<body class="tundra" style="overflow: hidden;">
<div id="bc" dojoType="dijit.layout.BorderContainer" design="headline" gutters="false" style="width: 100%; height: 100%">
  <div id="header" dojoType="dijit.layout.ContentPane" region="top">
    <div id="logo"><a href="${virtroot}/index.html"><img src="${virtroot}/images/powered-by-mozilla-small.png" border="0"></a></div>
    <div id="search">
      <form id="searchForm" method="post">
        <input id="search-box" name="string" type="text" size="31" maxlength="2048" title="Search">
        <input type="submit" value="Search" onclick="return doSearch('searchForm');">
      </form>
    </div>
    <div id="sidebarActions">
      ${sidebarActions}
    </div>
  </div>
