<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="${virtroot}/favicon.png" type="image/png" />
  <title>$title - DXR Search</title>
  <link href="${virtroot}/static/dxr-search-styles.css" rel="stylesheet" type="text/css"></link>
  <script type="text/javascript" src="${virtroot}/static/js/searchParser.js"></script>
  <script type="text/javascript" src="${virtroot}/static/js/search.js"></script>
  <script type="text/javascript" src="${virtroot}/static/js/timing.js"></script>
  <script type="text/javascript">
    var virtroot = '${virtroot}';
  </script>
</head>
<body onload="parseQS('search-box');">
  <div id="logo"><a href="${virtroot}/"><img src="${virtroot}/static/images/powered-by-mozilla-small.png" border="0"></a></div>
<div id="search">
  <form id="searchForm" method="get" action="search">
    <input id="searchbox" name="q" type="text" size="31" value="$query" maxlength="2048" title="Search">
    <input type="submit" value="Search">
    <input type="button" value="Old Search" onclick="return doSearch('searchForm');">
    <input type="hidden" name="tree" value="${tree}">
  </form>
</div>
<div id="results">
