<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <link href="$VIRTROOT/dxr-styles.css" rel="stylesheet" type="text/css"></link>
  <script type="text/javascript" src="$VIRTROOT/js/dojo/dojo.js"
          djConfig="parseOnLoad:true, isDebug:false"></script>
  <script type="text/javascript" src="$VIRTROOT/js/dojo/dxr-dojo.js"></script>
  <script type="text/javascript">
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.Tree");
  </script>
  <script type="text/javascript" src="$VIRTROOT/js/search.js"></script>
  <script type="text/javascript" src="$VIRTROOT/js/dxr.js"></script>

</head>
<body class="tundra" style="overflow: hidden;">
<div id="bc" dojoType="dijit.layout.BorderContainer" design="headline" gutters="false" style="width: 100%; height: 100%">
  <div id="header" dojoType="dijit.layout.ContentPane" region="top" style="width:100%;height:70px;overflow:hidden">
    <div id="logo" style="position:absolute;top:1.8ex;left:10px;right:10px"><a href="$VIRTROOT/index.html"><img src="$VIRTROOT/images/powered-by-mozilla-small.png" border="0"></a></div>
    <div id="search" style="position:absolute;top:40px;right:10px;left:215px;font-size:82%">
      <form id="searchForm" method="post">
        <input id="search-box" name="string" type="text" size="31" maxlength="2048" title="Search">
        <input type=submit value="Search" onclick="return doSearch('searchForm');">
      </form>

    </div>
  </div>
  <div id="sidebar" dojoType="dijit.layout.ContentPane" region="left" style="font-family:Arial,sans-serif;width:20%;padding:5px;border:solid 1px #cccccc;background-color:#eeeeee;white-space:nowrap" splitter="true">
