env:
  es6: true
  mocha: true
  node: true

extends:
  - eslint:recommended

rules:
  indent: [2, 2]
  no-trailing-spaces: 2
  no-unused-vars: [2, {vars: all, args: none}]
  no-use-before-define: [error, {functions: false, classes: false}]
  no-var: 1
  no-warning-comments: [1, {terms: [xxx, fixme, hack], location: start}]
  object-shorthand: [2, properties]
  prefer-const: 1
  no-console: 0
