@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/fonts/icons.woff?2013') format('woff'),
         url('/static/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.in-progress .search-filter {
    background: transparent url('/static/images/spinner-large.gif') 0 0 / contain no-repeat;
}
.search-filter {
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 10px;
    padding-left: 2rem;
    width: auto;
}
.sf-select-options {
    display: none;
    position: absolute;
    top: 99%;
    right: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.sf-select-trigger {
    background-color: white;
    border-radius: .4rem;
    padding: .1rem;
    border: 1px solid white;
    width: auto;
    min-width: 70px;
    cursor: pointer;
}
.sf-select-trigger:hover {
    background-color: #e8e8e8;
}
.sf-selector-arrow {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
}
[data-filter-arrow]:before {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    font-family: icons;
    content: attr(data-filter-arrow);
    speak: none;
}
.sf-modal {
    border: 1px solid #d4d4d4;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}
.sf-select-options .selector-option-label {
    display: inline-block;
    vertical-align: top;
    width: 10rem;
}
.sf-select-options .selector-option-description {
    display: inline-block;
    margin-right: 12rem;  /* Width of label plus padding */
    vertical-align: top;
    white-space: normal;
}
.sf-select-options li:first-child a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
@media only screen and (max-width: 740px) {
    .sf-select-options .selector-option-label {
        display: block;
    }
}
@media only screen and (max-height: 1200px) {
    .sf-select-options {
        max-height: 1024px;
    }
}
@media only screen and (max-height: 960px) {
    .sf-select-options {
        max-height: 700px;
    }
}
@media only screen and (max-height: 720px) {
    .sf-select-options {
        max-height: 500px;
    }
}
@media only screen and (max-height: 480px) {
    .sf-select-options {
        max-height: 320px;
    }
}
