@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot') format('embedded-opentype'),
         url('/static/fonts/icons.woff') format('woff'),
         url('/static/fonts/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tree-selector {
    display: inline-block;
    position: relative;
    float: right;
    width: auto;
}
.select-options {
    display: none;
    position: absolute;
    right: 0;
}
.ts-select-trigger {
    background-color: #fff;
    margin-bottom: .2rem;
    padding: .3rem;
    border: 1px solid #999;
    width: auto;
    min-width: 100px;
    border-radius: .2rem;
    cursor: pointer;
}
.ts-select-trigger:hover {
    background-color: #e8e8e8;
}
.selector-arrow {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
}
[data-icon-arrow]:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-family: icons;
    content: attr(data-icon-arrow);
    speak: none;
}
.selected:before {
    position: absolute;
    margin: 0  0 -15px -25px;
    font-family: icons;
    content: "\e803";
    speak: none;
}
.selector-options tr {
    cursor: pointer;
}
.selector-option-label {
    /* Leave some room for the selected icon + original padding */
    padding-left: 35px;
}
.ts-modal {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    min-width: 18rem;
    z-index: 10;
    background-color: white;
    overflow: auto;
    max-height: 250px;
    max-height: 70vh;
}
header {
    background-color: #e0e0e0;
    padding: .6rem .8rem .6rem .8rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: bold;
    letter-spacing: .5px;
}
/* visibility of the filter field is configurable
   and handled by JavaScript using the data-visible
   attribute */
.options-filter {
    display: none;
    padding: .8rem;
}
.options-filter input[type="text"] {
    padding: 5px 2%;
    border: 1px solid #b2b2b2;
    width: 100%;
    border-radius: .2rem;
    box-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.options-filter input[type="text"]:focus {
    border: 1px solid #42a4e0;
    box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4);
}
