{% extends "layout.html" %}

{% block title %}Advanced Search - DXR{% endblock %}

{% block body_class %}class="advanced"{% endblock %}

{% block header_nav_link %}
  <p class="header_nav_link"><a href="{{ wwwroot }}/">&#187; Basic Search</a></p>
{% endblock %}

{% block advanced_search %}
<fieldset id="advanced_search" class="advanced_search">
  <legend >Advanced Search</legend>

  <section class="form_group wide">
    <div class="form_elem_container">
      <label for="path">path:</label>
      <input type="text" name="path" id="path" placeholder="path: Pathname with shell-style globbing" />
    </div>

    <div class="form_elem_container">
      <label for="re">re:</label>
      <input type="text" name="re" id="re" placeholder="re: regex or regexp" />
    </div>

    <div class="form_elem_container">
      <label for="caller">caller:</label>
      <input type="text" name="caller" id="caller" placeholder="caller: caller functions" />
    </div>
  </section>

  <section class="form_group wide">
    <div class="form_elem_container">
      <label for="sub">sub:</label>
      <input type="text" name="sub" id="sub" placeholder="sub: subclass of a class" />
    </div>

    <div class="form_elem_container">
      <label for="super">super:</label>
      <input type="text" name="super" id="super" placeholder="super: superclass of a class" />
    </div>
  </section>
  <p class="show_more"><span class="arrow_icon"></span><a href="#show_more" id="show_more">show more</a></p>
</fieldset>

<fieldset id="additional_fields_container" class="additional_fields_container" aria-expanded="false">
  <section class="form_group">
    <div class="form_elem_container">
      <label for="fn">fn:</label>
      <input type="text" name="fn" id="fn" placeholder="fun:, func: or function:" />
    </div>

    <div class="form_elem_container">
      <label for="fn-ref">fn-ref:</label>
      <input type="text" name="fn-ref" id="fn-ref" placeholder="Uses of a given function" />
    </div>

    <div class="form_elem_container">
      <label for="member">member:</label>
      <input type="text" name="member" id="member" placeholder="Find member functions" />
    </div>

    <div class="form_elem_container">
      <label for="caller-by">caller-by:</label>
      <input type="text" name="caller-by" id="caller-by" placeholder="Functions called by a given function" />
    </div>

    <div class="form_elem_container">
      <label for="type">type:</label>
      <input type="text" name="type" id="type" />
    </div>
  </section>

  <section class="form_group">
    <div class="form_elem_container">
      <label for="type-ref">type-ref:</label>
      <input type="text" name="type-ref" id="type-ref" />
    </div>

    <div class="form_elem_container">
      <label for="var">var:</label>
      <input type="text" name="var" id="var" />
    </div>

    <div class="form_elem_container">
      <label for="var-ref">var-ref:</label>
      <input type="text" name="var-ref" id="var-ref" />
    </div>

    <div class="form_elem_container">
      <label for="namespace">namespace:</label>
      <input type="text" name="namespace" id="namespace" />
    </div>

    <div class="form_elem_container">
      <label for="namespace-ref">namespace-ref:</label>
      <input type="text" name="namespace-ref" id="namespace-ref" />
    </div>
  </section>

  <section class="form_group">
    <div class="form_elem_container">
      <label for="macro">macro:</label>
      <input type="text" name="macro" id="macro" />
    </div>

    <div class="form_elem_container">
      <label for="macro-ref">macro-ref:</label>
      <input type="text" name="macro-ref" id="macro-ref" />
    </div>

    <div class="form_elem_container">
      <label for="warning">warning:</label>
      <input type="text" name="warning" id="warning" />
    </div>

    <div class="form_elem_container">
      <label for="warning-opt">warning-opt:</label>
      <input type="text" name="warning-opt" id="warning-opt" />
    </div>
  </section>
</fieldset>
{% endblock %}

{% block footer %}
{% endblock %}

{% block fetch_results %}
{% endblock %}
