{% extends "layout.html" %}

{% block title %}Advanced Search - DXR{% endblock %}

{% block body_class %}class="advanced"{% endblock %}

{% block search_type_id %}id="adv_search"{% endblock %}

{% block header_nav_link %}
  <p class="header_nav_link basic_search"><a href="{{ wwwroot }}/">&#187; Basic Search</a></p>
{% endblock %}

{% block legend %}<legend class="advanced_search_heading">Advanced Search</legend>{% endblock %}

{% block text_search %}
<div class="form_elem_container">
  <label for="all_words">All these words</label>
  <input type="text" name="all_words" id="all_words" />
</div>

<div class="form_elem_container">
  <label for="exact_pharse">This exact phrase</label>
  <input type="text" name="exact_pharse" id="exact_pharse" />
</div>

<div class="form_elem_container">
  <label for="exclude_words">None of these words</label>
  <input type="text" name="exclude_words" id="exclude_words" />
</div>
{% endblock %}

{% block advanced_search %}
<fieldset id="advanced_search" class="advanced_search">
  <section class="form_group wide">
    <div class="form_elem_container">
      <label for="path">path:</label>
      <input type="text" name="path" id="path" placeholder="path: Pathname with shell-style globbing" />
    </div>

    <div class="form_elem_container">
      <label for="re">re:</label>
      <input type="text" name="re" id="re" placeholder="re: regex or regexp" />
    </div>

    <div class="form_elem_container">
      <label for="fn">fn:</label>
      <input type="text" name="fn" id="fn" placeholder="fun:, func: or function:" />
    </div>

    <div class="form_elem_container">
      <label for="caller">caller:</label>
      <input type="text" name="caller" id="caller" placeholder="caller: caller functions" />
    </div>
  </section>

  <section class="form_group wide">
    <div class="form_elem_container">
      <label for="sub">sub:</label>
      <input type="text" name="sub" id="sub" placeholder="sub: subclass of a class" />
    </div>

    <div class="form_elem_container">
      <label for="super">super:</label>
      <input type="text" name="super" id="super" placeholder="super: superclass of a class" />
    </div>

    <div class="form_elem_container">
      <label for="type">type:</label>
      <input type="text" name="type" id="type" />
    </div>
  </section>
</fieldset>

<fieldset id="additional_fields_container" class="additional_fields_container">
  <legend>Narrow Your Search Even Further</legend>
  <section class="form_group wide">
    <div class="form_elem_container">
      <label for="fn-ref">fn-ref:</label>
      <input type="text" name="fn-ref" id="fn-ref" placeholder="Uses of a given function" />
    </div>

    <div class="form_elem_container">
      <label for="member">member:</label>
      <input type="text" name="member" id="member" placeholder="Find member functions" />
    </div>

    <div class="form_elem_container">
      <label for="caller-by">caller-by:</label>
      <input type="text" name="caller-by" id="caller-by" placeholder="Functions called by a given function" />
    </div>

    <div class="form_elem_container">
      <label for="type-ref">type-ref:</label>
      <input type="text" name="type-ref" id="type-ref" />
    </div>

    <div class="form_elem_container">
      <label for="var">var:</label>
      <input type="text" name="var" id="var" />
    </div>

    <div class="form_elem_container">
      <label for="var-ref">var-ref:</label>
      <input type="text" name="var-ref" id="var-ref" />
    </div>
  </section>

  <section class="form_group wide">
    <div class="form_elem_container">
      <label for="namespace">namespace:</label>
      <input type="text" name="namespace" id="namespace" />
    </div>

    <div class="form_elem_container">
      <label for="namespace-ref">namespace-ref:</label>
      <input type="text" name="namespace-ref" id="namespace-ref" />
    </div>

    <div class="form_elem_container">
      <label for="macro">macro:</label>
      <input type="text" name="macro" id="macro" />
    </div>

    <div class="form_elem_container">
      <label for="macro-ref">macro-ref:</label>
      <input type="text" name="macro-ref" id="macro-ref" />
    </div>

    <div class="form_elem_container">
      <label for="warning">warning:</label>
      <input type="text" name="warning" id="warning" />
    </div>

    <div class="form_elem_container">
      <label for="warning-opt">warning-opt:</label>
      <input type="text" name="warning-opt" id="warning-opt" />
    </div>
  </section>
</fieldset>
{% endblock %}

{% block return_format %}
  <input type="hidden" name="format" value="http" id="format" />
{% endblock %}

{% block search_button %}
  <input type="submit" value="Search" />
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block fetch_results %}
{% endblock %}
