{% extends "layout.html" %}

{% block title %}{{ name }} - DXR{% endblock %}

{% block site_css %}
  {{ super() }}
  <link href="{{ wwwroot }}/static/css/tree-selector.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% set state_eof = True %}

{% block content %}
<div id="content" class="content" data-no-results="No results returned for current query.">
  <div class="file-name">
    {%- for path, name in paths_and_names -%}
      {% if not loop.first or loop.last and loop.length != 1 %}<span class="path-separator">/</span><a href="{{ wwwroot }}{{ path }}">{{ name }}</a>{% else %}<a href="{{ wwwroot }}{{ path }}">{{ name }}</a>{% endif %}
    {%- endfor -%}
  </div>

{% set showing_tree_menu = trees|length > 1 %}
  {% if showing_tree_menu %}
    <section id="tree-selector" class="tree-selector">
      <button type="button" class="ts-select-trigger" aria-label="Switch Tree">
          <!-- arrow icon using icon font -->
          <span aria-hidden="true" data-icon-arrow="&#xe801;" class="selector-arrow">
              <!-- tree icon using icon font -->
              <span aria-hidden="true" data-icon="&#xe800;"></span>
              <span class='current-tree'>Switch Tree</span>
          </span>
      </button>
      <div class="select-options ts-modal" aria-expanded="false">
          <form name="options-filter" class="options-filter" data-active="false">
              <label for="filter-txt" class="visually-hidden">Filter Trees</label>
              <input type="text" name="filter-txt" id="filter-txt" placeholder="Filter trees" />
              <input type="submit" value="Filter" class="visually-hidden" />
          </form>
          {% block tree_selector_options %}
            <ul class="selector-options" tabindex="-1">
            {% for t in trees %}
                <li>
                  <a href="{{ wwwroot }}/{{ t }}/parallel/{{ path }}" {% if t == tree %}class="selected" aria-checked="true"{% endif %}><span class="selector-option-label">{{ t }}</span>: The ships hung in the sky in much the same way that bricks don't.</a>
                </li>
            {% endfor %}
            </ul>
          {% endblock %}
      </div>
    </section>
  {% endif %}

  <table class="folder-content">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Modified</th>
        <th scope="col">Size</th>
      </tr>
    </thead>
    <tbody>
      {% for icon, name, modified, relative_url in folders %}
      <tr>
        <td><a href="{{ wwwroot }}/{{ relative_url }}" class="folder-icon">{{ name }}/</a></td>
        <td>{{ modified.strftime("%Y-%b-%d %H:%m") }}</td>
        <td>-</td>
      </tr>
      {% endfor %}

      {% for icon, name, modified, size, relative_url in files %}
      <tr>
        <td><a href="{{ wwwroot }}/{{ relative_url }}"
               style="background-image: url('{{ wwwroot }}/static/icons/{{ icon }}.png')"
               class="icon">
               {{ name }}</a></td>
        <td>{{ modified.strftime("%Y-%b-%d %H:%m") }}</td>
        <td>{{ size|filesizeformat }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ wwwroot }}/static/js/tree-selector.js"></script>
{% endblock %}
