<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="{{ wwwroot }}/static/layout.css" rel="stylesheet" type="text/css">
    <link href="{{ wwwroot }}/static/code-style.css" rel="stylesheet" type="text/css">
    <script>
      var wwwroot = "{{ wwwroot }}";
    </script>
    <script src="{{ wwwroot }}/static/dxr.js"></script>
    <script src="{{ wwwroot }}/static/menu.js"></script>
    <script src="{{ wwwroot }}/static/search.js"></script>
    <script>
    // State used for fetching results
    var state = {
      // Current query (loaded from q in initIncrementalSearch)
      // This, avoid ugly decoding, otherwise needed
      query:        null,
      // Offset for next request
      offset:       {{state_offset or 0}},
      // Number of results when paging
      limit:        {{state_limit or 100}},
      // True, if there's no more result
      eof:          {% if state_eof -%}
                      true
                    {%-else-%}
                      false
                    {%-endif %},
      // True, when this state is modified by user through search box
      changed:      false
    };
  </script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}DXR Code Index{% endblock %}</title>
  </head>
  <body>
    {% block body %}

    <div id="search-box" class="{% block search_box_class %}with-results{% endblock %}">
      <img src="{{ wwwroot }}/static/magmoz.svg" id="big-logo">
      <div id="search-background">
        <a id="dxr" href="{{ wwwroot }}/"><img src="{{ wwwroot }}/static/magmoz.svg" id="small-logo"></a>
        <form method="get" action="{{ wwwroot }}/{{ tree }}/search" id="width-limiter">
          {% set showing_tree_menu = trees|length > 1 %}
          <div class="hidden-with-results">
            You can search

            {% if showing_tree_menu %}
              <select name="tree" id="tree">
                {% for t in trees %}
                  <option{% if ((t == tree) if tree else loop.first)  %} selected="selected"{% endif %}>{{ t }}</option>
                {% endfor %}
              </select>
            {% else %}
              <b>{{ tree }}</b>
              <input type="hidden" name="tree" value="{{ tree }}" id="tree">
            {% endif %}
            here
          </div>
          <div class="shown-with-results">
            <div id="tree-tip">
              <div class="file-name">
                {%- for path, name in paths_and_names -%}
                  <span class="slash">/</span><a href="{{ wwwroot }}{{ path }}">{{ name }}</a>
                {%- endfor -%}
              </div>
            </div>
            <div id="tip">
              {%- block tip -%}
              <label for="query">Enter search query here</label>
              {%- endblock -%}
            </div>
          </div>

          <input type="text" name="q" value="{{ query }}" maxlength="2048" id="query" accesskey="s" title="Search" autocomplete="off" autofocus>
          <input type="hidden" name="redirect" value="true" id="redirect">

          <div class="hidden-with-results">
            or browse
            {% for t in trees -%}
              {%- if loop.last and trees|length > 1 %}
                or
              {% elif not loop.first and trees|length > 1 -%}
                ,
              {% endif -%}
              <a href="{{ t }}/source/">{{ t }}</a>
            {%- endfor -%}
            .
          </div>
        </form>
      </div>
    </div>

    {% if panel %}
    <div id="panel">
      <a id="panel-toggle">
        {%- block panel_title -%}
        Navigation
        {%- endblock -%}
      </a>
      <div id="panel-content">
        {% block panel %}
        {% endblock %}
      </div>
    </div>
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="foot">
      {% block foot %}
      This page was generated by DXR 
      <span class="pretty-date" data-datetime="{{ generated_date }}">
        {{ generated_date }}
      </span>.<br>
      {{config.foot_text}}
      {% endblock %}
    </div>
    {% endblock %}
    <div id="fetch-results">
      <img src="{{ wwwroot }}/static/view-refresh.svg"
           style="vertical-align: middle;">
      Fetching results
    </div>
    <div id="inline-menu"></div>
    <div id="info-box"></div>
  </body>
</html>
