<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    {% block head %}
    {% endblock %}
    <title>{% block title %}DXR Code Index{% endblock %}</title>
    <link href="{{ wwwroot }}/static/css/dxr.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ wwwroot }}/static/tango-search.png" rel="shortcut icon">
  </head>
  <body {% block body_class %}{% endblock %}>
    {% block body %}

    <div id="search-box" class="{% block search_box_class %}with-results{% endblock %} search-box">
      <form method="get" action="{{ wwwroot }}/{{ tree }}/search" {% block search_type_id %}id="basic_search"{% endblock %} data-error="An error occured during the processing of your query. Please reload the page and try again.">
        <fieldset class="text_search">
          {% block legend %}{% endblock %}

          {% block text_search %}
          <label for="query">Find</label>
          <input type="text" name="q" value="{{ query }}" maxlength="2048" id="query" class="query" accesskey="s" title="Search" placeholder="Enter query and press enter to start search..." />
          {% endblock %}

          {% block header_nav_link %}
            <p class="header_nav_link"><a href="{{ wwwroot }}/advanced">&#187; Advanced Search</a></p>
          {% endblock %}

          <section class="simple_form_group">
            {% set showing_tree_menu = trees|length > 1 %} in
              {% if showing_tree_menu %}
                <select name="tree" id="tree">
                  {% for t in trees %}
                    <option{% if ((t == tree) if tree else loop.first)  %} selected="selected"{% endif %}>{{ t }}</option>
                  {% endfor %}
                </select>
              {% else %}
                <select name="tree" id="tree" disabled="disabled">
                  <option value="{{ tree }}">{{ tree }}</option>
                </select>
              {% endif %}

            <input type="checkbox" name="case_sensitivity" id="case_sensitivity" class="checkbox_case" value="true" />
            <label class="checkbox_label" for="case_sensitivity">Case-sensitive</label>
          </section>
        </fieldset>

        {% block advanced_search %}
        {% endblock %}

          <input type="hidden" name="redirect" value="false" id="redirect" />
        {% block return_format %}
          <input type="hidden" name="format" value="json" id="format" />
        {% endblock %}

        {% block search_button %}
          <input type="submit" value="Search" class="visually-hidden" />
        {% endblock %}
      </form>
    </div>

    {% if panel %}
    <div class="panel">
      <a id="panel-toggle">
        {%- block panel_title -%}
        Navigation
        {%- endblock -%}
      </a>
      <div id="panel-content">
        {% block panel %}
        {% endblock %}
      </div>
    </div>
    {% endif %}

    {% block content %}
    <div id="content" class="content" data-no-results="No results returned for current query."></div>
    {% endblock %}

    {% block footer %}
    <div id="foot" class="footer">
      This page was generated by DXR
      <span class="pretty-date" data-datetime="{{ generated_date }}">
        {{ generated_date }}
      </span>.<br>
      {{config.foot_text}}
      {% endblock %}
    </div>
    {% endblock %}

    {% block fetch_results %}
    <div id="fetch-results">
      <img src="{{ wwwroot }}/static/view-refresh.svg" />
      Fetching results
    </div>
    {% endblock %}

    <div id="inline-menu"></div>
    <div id="info-box"></div>

    {% set eof = True if state_eof else False %}

    <!-- avoid inline JS and use data attributes instead. Hackey but hey... -->
    <span id="data" data-root="{{ wwwroot }}" data-search="{{ wwwroot }}/{{ tree }}/search"></span>
    <span id="state" data-offset="{{state_offset or 0}}" data-limit="{{state_limit or 100}}" data-eof="{{ eof }}"></span>

    <script src="{{ wwwroot }}/static/js/jquery203.js"></script>
    <script src="{{ wwwroot }}/static/js/nunjucks-min.js"></script>
    <script src="{{ wwwroot }}/static/js/templates.js"></script>

    <script type="application/javascript;version=1.8" src="{{ wwwroot }}/static/js/dxr.js"></script>
  </body>
</html>
