{% extends "layout.html" %}

{% block title %}{{ query }} - DXR Search{% endblock %}

{% block tip -%}
  {%- if error -%}
    <b>{{ error }}</b>
  {%- else -%}
    Query executed in {{"%.3f"|format(time)}}s
  {%- endif -%}
{%- endblock %}

{% set state_offset = offset + results|length %}
{% set state_limit  = limit %}
{% set state_eof    = results|length < limit %}

{% block head %}
  {% if error %}
  <script>
    window.addEventListener('load', function(){
      // Write a the error message to search tip
      dxr.setErrorTip("{{ error }}");
    });
  </script>
  {% endif %}
{% endblock %}

{% block content %}
<div id="content" class="content" data-no-results="No results returned for current query.">
  <p class="top-of-tree">Results from the <a href="{{ wwwroot }}/{{ tree }}/source/">{{ tree }}</a> tree:</p>
  {% for icon, path, lines in results %}
    <div class="result">
      <div class="path">
        {% set iconclass = icon.split('/')[1] %}
        <a href="{{ wwwroot }}/{{ tree }}/source/{{ path }}" class="{{ iconclass }}">{{ path }}</a>
      </div>
      <table class="result_snippet">
        <caption class="visually-hidden">Query matches in {{ path }}</caption>
        <thead class="visually-hidden">
            <th scope="col">Line</th>
            <th scope="col">Code Snippet</th>
        </thead>
        {% for number, line in lines %}
        <tbody>
            <tr>
                <td>{{ number }}</td>
                <td>
<a class="snippet" href="{{ wwwroot }}/{{ tree }}/source/{{ path }}#{{ number }}">
<code aria-labelledby="{{ number }}">{{ line|safe }}</code>
</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <p class="top"><a href="#search-box">Back to Top</a></p>
    {% endfor %}
    </div>
</div>
{% endblock %}
